[2019-07-17 18:05] benexus opened #7 "Translate endpoint"
Where is the translate endpoint on `GPHApiClient`

[2019-07-30 14:27] landnbloc opened #8 "GPHSettings "dimBackground = false" not working"
I'm applying the settings found below and the dialog pops up fine and works great but the background of the application where the dialog is, is still dimmed. It's really important to the project that this is not the case. I assume "dimBackground = false" should have taken care of this. Does anyone know why it's not working? All of the projects code is in Java except this dialog fragment is set up

[2019-08-27 17:28] Crysis21 commented on #8
hey @landnbloc. The `dimBackground` flag is designed to display a shadow over gif results, while the search bar is focussed.

The effect you want, I think it can be obtain by overriding the default dialog theme and disable the background dimming.  This is the theme that governs the waterfall layout.

[code]

[2019-08-27 17:29] Crysis21 commented on #7
That endpoint is no longer part of the API client. Sorry.

[2019-08-27 17:29] #7 closed

[2019-09-11 06:00] BattleShipPark opened #9 "GPHMediaView wrap_content is not effective outside RecyclerView"
Hi, I am trying your example and it works well.
The example show images with GPHMediaView inside RecyclerView, but I don't need RecyclerView. I added GPHMediaView like this:

    <com.giphy.sdk.ui.views.GPHMediaView
            android:id="@+id/mediaView"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            app:layout_constraintBottom_toTopOf

[2019-09-19 04:07] BattleShipPark opened #10 "exception in proguard"
I am using com.giphy.sdk:ui:1.0.1

When I run proguard, I have exceptions about json. So I added these:
-keep class com.giphy.sdk.core.models.** { *; }
-keep class com.giphy.sdk.core.network.response.** { *; }
-keepattributes *Annotation*
-dontwarn com.giphy.sdk.core.**
(You don't have any documents and your library does not have a proguard file. why?)

I can see images from your UI, but I see the

[2019-09-24 10:33] steevoo opened #11 "JPG link"
Hi  ,I'm using 'com.giphy.sdk:ui:1.0.1'
any idea how to get the JPG link of the GIF selected i didn't find it in the "Media" Object returned by the sdk while its available in the api response under the tag "480w_still"
and also its possible to access the physical file path stored of the selected GIF
thank you

[2019-09-26 10:24] bogdantmm92 commented on #11
Hey @steevoo, you could try `media.images.fixedWidthStill`. Let me know if that works.

[2019-09-26 10:34] bogdantmm92 commented on #11
In order to get the physical file path maybe it helps using the approach described here https://github.com/facebook/fresco/issues/235 .

[2019-09-27 12:04] steevoo commented on #11
thanks @bogdantmm92  'fixedWidthStill' its a jpg file  even the extension is gif

[2019-09-27 13:29] #11 closed

[2019-10-15 21:44] colorgold opened #12 "Giphy setMediaTypeConfig Order"
I am setting the media type configuration via this code in Android using java:
settings.setMediaTypeConfig(new GPHContentType[]{**GPHContentType.emoji**,GPHContentType.gif,GPHContentType.sticker,GPHContentType.text});

I want the emojis to be the first ones to load in the Giphy dialog, so I have added them in the array first. However, when I show the dialog, the gifs load first and I have to click

[2019-10-17 15:25] colorgold opened #13 "Translate Search Bar"
How can I change the editText's hint in the GiphyDialogFragment to my own string value so that it is displayed in different languages?

![image](https://user-images.githubusercontent.com/45986859/67023489-8068fb80-f0c8-11e9-8961-96980e1db8cf.png)

[2019-11-01 09:47] amiga opened #14 "Non static configre cannot be referenced from a static context"
the very first line of your tutorial gives error, GiphyCoreUI.configure -> Non static configre cannot be referenced from a static context

[2019-11-01 09:57] Crysis21 commented on #12
Hey @colorgold we will address this issue. Thanks for reporting.

[2019-11-01 11:08] Crysis21 commented on #13
Basically you can override the string resource in your project.
`@string/gph_search_giphy`

[2019-11-01 11:08] Crysis21 commented on #14
Where do you try to initialize the SDK?

[2019-11-04 07:22] amiga commented on #14
Sorry I did not realise it is written in Kotlin. Do you have an ordinary Android Java version of the SDK? or example on how to integrate with Java?

[2019-11-04 16:49] Crysis21 commented on #14
Kotlin is interchangable with Java. You can call kotlin code into Java code and vice-versa. Here is a basic Java example of initialization

[code]

[2019-11-04 17:34] Crysis21 commented on #12
@colorgold we are releasing 1.1.2 this afternoon and will contain a fix for this issue aswell.

[2019-11-04 18:21] #12 closed

[2019-11-04 18:21] #13 closed

[2019-11-08 14:59] amiga commented on #14
wow thanks! thats awesome I didnt realise, im still new to Kotlin. Thank you.

[2019-11-08 15:00] Crysis21 commented on #14
you're welcome. closing this.

[2019-11-08 15:00] #14 closed

[2019-11-13 19:13] Zhuinden opened #17 "GifSelectionListener is not set properly after process death occurs"
In the following code:

https://github.com/Giphy/giphy-android-sdk-ui-example/blob/cebc9dd40cc7e45a5ba96b53b891de1dae9009a8/app/src/main/java/com/giphy/sdk/uidemo/DemoActivity.kt#L59

`dialog.gifSelectionListener = getGifSelectionListener()` is only executed only when the button is clicked.

However, the DialogFragment is recreated by the system after process death (refer to https://stackoverflow.

[2019-11-21 05:39] amiga opened #18 "how to call GiphyDialogFragment.newInstance().show(supportFragmentManager, "giphy_dialog")"
how do I call this lien in java?

 GiphyDialogFragment.newInstance().show(supportFragmentManager, "giphy_dialog")

is newInstance() ? you really hsould supply examples in both java and kotlin, almoist no one knows kotlin yet

[2019-11-21 06:11] amiga commented on #18
if i call using this i get a kotlin null pointer

GiphyDialogFragment frag = new GiphyDialogFragment();
                frag.show(HomeVideoFragment.supportFrag, "giphy_dialog");

[2019-11-27 06:19] dynamicBai opened #19 "giphy dialogFragment detached"
when call  GifsRecyclerview.configure,it will use fragment as ViewModelProvider lifecycle scope.
in some case,the fragment may be dettached,which cause exception.
And how can i aviod it, just check dialogFragment is attach before call show?
can this check logic handled by sdk?

[2019-11-27 06:25] dynamicBai commented on #19
sdk version:v1.1.2

[2019-11-30 13:17] lulumahot commented on #18
Use it like this:
[code]

[2019-12-09 17:21] bogdantmm92 commented on #18
@amiga please check @lulumahot example here. Unfortunately we don't currently have a timeline for adding Java documentation.
Let us know if you managed to fix the issue, or if you need any other help.
Thanks!

[2019-12-09 18:25] bogdantmm92 commented on #19
Hey @dynamicBai, thanks for your interest! We'll take a look and get back to you.

[2019-12-17 03:31] sam-piper opened #20 "Use SDK from Xamarin?"
Hi, we'd like to apply for a production key for a chat app we're developing, we're investigating generating a verification code but our application is based on Xamarin Forms so we can't use your SDKs for iOS or Android directly at the moment as they are native-only.

Do you know of any way we could use for accessing your SDKs from Xamarin? Ideally a wrapper that allows the SDKs to be called from X

[2019-12-18 10:52] Nishit79 opened #21 "Unable to resolve dependency for ':app@debug/compileClasspath': Could not resolve com.giphy.sdk:ui:1.2.0."
I cant able to resolve it (androidx articraft)
Android Studio - 3.3.5
Project - classpath 'com.android.tools.build:gradle:3.5.3'
Module Lib - implementation "com.giphy.sdk:ui:1.2.0"
Gradle Distribution Url - distributionUrl=https\://services.gradle.org/distributions/gradle-5.4.1-all.zip

[2020-01-09 21:36] martypants760 opened #22 "lightweight GiphyDialogFragment or .... pass GiphyDialogFragment a search string"
'm working on an app in which I'd like to show Gif content. I have obtained a test key and have successfully retrieved data from the search endPoint.
I am utilizing Speech to text as the search string.
My issues is how to display the data returned by the API on and Android phone. Attempting to use a gif url does not work well with Android ImageView or VideoViews (mp4). I was hoping the Giphy SDK w

[2020-01-13 13:06] Vitor238 opened #23 "Giphy DialogFragment does not work with proguard / r8 enabled"
When opening DialogFragment Gif with proguard / r8 enabled, the following message appears: "OH NO! SOMETHING WENT WRONG". What should I configure to work normally?

[2020-01-21 14:45] LaySoe commented on #21
Dear, service
Thankfully

[2020-02-11 17:24] Crysis21 commented on #21
the latest version of the sdk is `com.giphy.sdk:ui:1.1.2`. You put the wrong version in your gradle file.

[2020-02-11 17:28] Crysis21 commented on #20
Hey sam-piper, could you provide more info about the wrapper for Xamarin?

[2020-02-11 17:29] #21 closed

[2020-02-11 17:31] Crysis21 commented on #22
Hey @martypants760

we designed the UI SDK to offer View components for loading GIFs and rendering them. Once you receive a GIF, you have the `GPHMediaView` that you can use to render a GIF. You have all the info in the ReadMe file.

It seems that you are accessing the underlying implementation of the UI-SDK. We are deprecating those components and will no longer be available, so I'd suggest to us

[2020-02-11 17:32] Crysis21 commented on #23
Hey @Vitor238 ,

We will have an update in the following days which fixes the proguard configuration.

Regards,
Cristian

[2020-02-11 17:33] Crysis21 commented on #10
Hey, We will release a new version in the following days, which will also fix proguard.

[2020-02-13 19:25] Crysis21 commented on #23
should be fixed in 1.2.0

[2020-02-13 19:25] #23 closed

[2020-02-13 19:25] Crysis21 commented on #10
fixed in 1.2.0

[2020-02-13 19:25] #10 closed

[2020-02-13 19:26] #18 closed

[2020-02-13 19:26] Crysis21 commented on #22
please update to latest version 1.2.0 or newer

[2020-02-13 19:26] #22 closed

[2020-02-13 19:27] Crysis21 commented on #19
hey @dynamicBai we removed lifecycle from our latest SDK. please update to version 1.2.0 and let us know if you still have issues.

[2020-02-13 19:28] Crysis21 commented on #17
Thanks for pointing this out. We will update the implementation

[2020-02-14 03:42] dynamicBai commented on #19
thanks,i will update sdk soon,and watch the crash from fabric.

[2020-02-18 16:06] #19 closed

[2020-02-19 01:58] dynamicBai opened #25 "ClassCastException"
version: android  v1.2.0
Exception:
com.giphy.sdk.ui.pagination.c cannot be cast to com.giphy.sdk.core.models.Media

the stack is:
com.giphy.sdk.ui.views.GiphyDialogFragment.onGifPressed (GiphyDialogFragment.java:29)
com.giphy.sdk.ui.views.GiphyDialogFragment.access$onGifPressed (GiphyDialogFragment.java)
com.giphy.sdk.ui.views.GiphyDialogFragment$setupGifsRecycler$3.invoke (GiphyDialogFragment.ja

[2020-02-19 08:02] Crysis21 commented on #25
Hey @dynamicBai thanks for pointing this out. Looking into this issue.

[2020-02-19 12:13] Crysis21 commented on #25
@dynamicBai  I checked the issue and it happens when clicking/long-clicking on non-gif items, like the loading card / no-content card or the retry one. Can you confirm this? Fix will be available soon in 1.2.1

[2020-02-19 12:37] dynamicBai commented on #25
Yes,Do what you say, this crash will appear

[2020-03-04 14:01] Crysis21 commented on #9
We wrote a new way of how we measure the `GifView` component. Soon it will be available in a new update.

[2020-03-19 14:34] Crysis21 commented on #25
version `1.2.2` released

[2020-03-19 14:34] #25 closed

[2020-03-19 14:34] Crysis21 commented on #17
We added support for `setTargetFragment` API in release `1.2.2`

[2020-03-19 14:34] #17 closed

[2020-03-19 14:35] Crysis21 commented on #9
version `1.2.2` released and fixes this issue.

[2020-03-19 14:35] #9 closed

[2020-03-19 14:35] Crysis21 commented on #20
Closing for now. Unless there is an easy way for us to provide Xamarin support, we will not engage in development for a hybrid solution at this moment.

[2020-03-19 14:35] #20 closed

[2020-04-07 18:15] iehsan77 opened #31 "iphy/giphy-ios-sdk-ui-example] Binary XML file line #33: Binary XML file line #33: Error inflating class com.giphy.sdk.ui.views.GPHMediaView"
i got this when i am trying to view animated gif in a

<com.giphy.sdk.ui.views.GifView
    android:layout_width=""
    android:layout_height=""

Process: com.example.smeschat, PID: 30706
    android.view.InflateException: Binary XML file line #54: Binary XML file line #54: Error inflating class com.giphy.sdk.ui.views.GifView
    Caused by: android.view.InflateException: Binary XML file line #54: E

[2020-04-08 09:43] Crysis21 commented on #31
You are not importing the SDK correctly. What version are you using?

[2020-04-09 09:57] MobilefactoryAT opened #32 "NoClassDefFoundError: Failed resolution of: Lcom/giphy/sdk/ui/r;"
Details:
implementation 'com.giphy.sdk:ui:1.2.6'
Pixel 3a API 29 Emulator

Code:
[code]

Stack:
[code]

[2020-04-09 10:06] Crysis21 commented on #32
It seems there is an obfuscation problem, but it doesn't seem to be from the SDK. If you look at the starting point of the stack trace
[code]
You will see it doesn't find a class that is passed as an argument. Baes on your code, I suspect there is a problem with  `Settings.giphy_api(),` object. Does this happen on release builds I suppose?

[2020-04-09 10:15] MobilefactoryAT commented on #32
I just compiled again with implementation 'com.giphy.sdk:ui:1.2.5' and it worked.
No product is still in development there are no release builds.

[2020-04-09 10:21] MobilefactoryAT commented on #32
hmm okey. I invalidated all cashes in Android studio now it works also with 1.2.6.
Seems that it was an issue from the compiler... sorry

[2020-04-09 10:21] #32 closed

[2020-04-16 09:52] dynamicBai opened #33 "java.lang.ClassCastException: com.giphy.sdk.ui.pagination.c cannot be cast to com.giphy.sdk.core.models.Media"
when there is  no data,click the empty block,it will crash.
version: android v1.2.0
stack is:
 Process: com.videoeditorpro.android, PID: 18652
    java.lang.ClassCastException: com.giphy.sdk.ui.pagination.c cannot be cast to com.giphy.sdk.core.models.Media
        at com.giphy.sdk.ui.views.GiphyDialogFragment.onGifPressed(Unknown Source:29)
        at com.giphy.sdk.ui.views.GiphyDialogFragment.acc

[2020-04-16 15:42] #31 closed

[2020-04-16 15:43] Crysis21 commented on #33
Can you please update to 1.2.6? This issue has been fixed.

[2020-04-16 15:43] #33 closed

[2020-04-16 18:43] iehsan77 commented on #31
i am using   implementation "com.giphy.sdk:ui:1.2.5"

[2020-04-16 20:04] Crysis21 commented on #31
Please use `GPHMediaView` object, not `GifView`. That one is an internal object and not exposed. Where did you take the reference for it? It's not in the docs.

[2020-04-20 12:47] PiotrPrus opened #34 "No Class Def Exception"
I got this error:
java.lang.NoClassDefFoundError: Failed resolution of: Lcom/giphy/sdk/ui/r
that is pointing to my `Giphy.configure(this, BuildConfig.GIPHY_SDK_KEY)`.
I believe the library is conflicting in some way with my other dependencies. When I made a clean new project with just basic dependencies, giphy SDK works as intended. In my big project with a lot of dependencies, it works only after

[2020-04-20 19:08] sankiran opened #35 "Hiding the Giphy watermark"
Is it possible to hide the Giphy watermark from `GPHMediaView`?

[2020-04-21 14:44] Crysis21 commented on #34
I think there is a problem with they way you import dependencies. Can you print the dependencies list from gradle and see if Giphy UI SDK is in your dependency tree?

[2020-04-21 15:56] PiotrPrus commented on #34
Hi @Crysis21, I have checked that. Giphy is there. I also tried downgrading the Giphy SDK and version 1.2.0 apparently works fine with my project.

[2020-04-21 17:53] PiotrPrus opened #36 "The `gphCellPadding` in GiphyGridView is not working as intended"
According to docs, the gphCellPadding can be used in XML as follows:
app:gphCellPadding="12dp". Unfortunately, setting value with `dp` is not possible. I got the error: "Cannot resolve symbol". As I looked through the class, the variable is set to an integer, so I am setting it as `12`.
This is not working either. The padding is still zero. I have checked the sample app and the `cellPadding` is no

[2020-04-22 18:51] Kranthi94 opened #37 "Giphy Proguard Issue"
Hi,

We are using a latest version of GIPHY and alongside we are using socket client (https://github.com/socketio/socket.io-client-java) in our android app. When the network is fluctuating and the socket looses connection in socket connections callback information we are getting strange giphy sdk paths such as "com.giphy.sdk.ui.aq1: websocket error". What might be the issue here.?

Issue is not th

[2020-04-23 12:45] Crysis21 commented on #37
hello, the issue is generated by a repackageclasses param we used in proguard. We've been notified by other developers as well. Today we will release a new update to fix this. Issues are not from giphy SDK, but all internal packages get repacked under ours. Sorry for the issues

[2020-04-23 12:46] Crysis21 commented on #34
Hi @PiotrPrus we discovered an issue with the SDK. We were repackaging the classes using `repackageclasses` in proguard. This led to all kind of issues to be seen in logs as part of our SDK, when in fact they were generated by other libraries. Releasing a fix today.

[2020-04-23 14:38] Crysis21 commented on #36
I've updated the padding to respect the DP size, otherwise it works as it should. Please update to `1.2.7`

[2020-04-23 14:43] Crysis21 commented on #37
Please update to version 1.2.7

[2020-04-23 14:43] Crysis21 commented on #34
Please update to version 1.2.7

[2020-04-28 11:40] jbb-kryo opened #38 "SDK Demo not Available in Java"
I'm trying to implement GIPHY SDK into my android app however I'm finding that your demo is pure Kotlin, half your documentation is in Java and also feels incomplete in term of missing steps. Can anyone give me any help on this one?

[2020-04-28 22:32] polson opened #39 "Verification mode does not print out a Verification ID"
I'm using the Verification Instructions from [https://developers.giphy.com/docs/sdk/](https://developers.giphy.com/) which state that I should do the following to verify Giphy Integration:

The following sample code is suggested:
[code]

The first issue is that `GiphyCoreUI` is not a class, so I am doing this instead with my actual api key:

[code]

This runs successfully but does not print out an

[2020-04-29 12:24] #34 closed

[2020-04-29 12:24] #36 closed

[2020-04-29 12:24] #37 closed

[2020-05-01 11:04] Crysis21 commented on #38
Documentation is full kotlin, not combined:
https://github.com/Giphy/giphy-android-sdk-ui-example/blob/master/Docs.md

What steps do you believe are missing in the docs? The SDK has been developed in `kotlin` but it's fully interoperable with `Java`.

[2020-05-01 11:10] Crysis21 commented on #39
Hi @polson,

Thanks for pointing out the issues in developer portal, I've asked the web team to update the docs. Latest instructions regarding android integration can always be found here:
https://github.com/Giphy/giphy-android-sdk-ui-example/blob/master/Docs.md

Please make sure you have Logging enabled on the Verbose level. From what I see, you are in Debug and I think this is what is causing yo

[2020-05-05 16:44] polson commented on #39
Oh wow, what a dumb mistake.  Thanks for pointing out that it was being logged at VERBOSE.

[2020-05-05 17:05] #39 closed

[2020-05-06 13:59] moo611 opened #41 "there is no pagination"

[2020-05-11 09:03] moo611 opened #42 "Binary XML file line #9: Error inflating class com.giphy.sdk.ui.views.GiphyGridView"

[2020-05-11 09:04] moo611 commented on #42
the latest version

[2020-05-11 10:27] moo611 commented on #42
I solve the problem by writing this line of code in Application
 Giphy.configure(this, YOUR_API_KEY)
because it loads before activity.I suggest the author to modify the document to avoid this problem:)

[2020-05-11 10:34] #41 closed

[2020-05-11 11:26] powerworr opened #43 "Loading a gif overwrites rounded corners"
Loading a gif with
```itemView.attachmentGifView.setMediaWithId(giphyMediaId)```
shows the rounded corners specified in the xml, but overwrites them with a rectangular image when it is loaded. Adding a cardView and clipping doesn't fix the issue.
[code]

I didn't find a way to specify rounded corners in code or make them stay after specifying them in xml. Any help would be appreciated!

[2020-05-11 13:30] HirogaKatageri opened #44 "Didn't find class "com.giphy.sdk.ui.r"
Create and tested a release apk, crashed at startup.

Giphy SDK version: 1.2.6

[code]

[2020-05-11 14:05] powerworr commented on #43
I see you are extending facebook views and therefore some attributes for rounded corners are part of the `GPHMediaView`, but the are ignored. Do you provide a way to round them?

[2020-05-12 12:28] PiotrPrus commented on #44
I had that problem. It is solved in 1.2.7

[2020-05-12 12:29] PiotrPrus commented on #34
It is working. Thanks

[2020-05-12 12:38] HirogaKatageri commented on #44
Yeah, @PiotrPrus I updated it to 1.2.8 now and the issue is gone. We did update to 1.2.7 previously, which had the change on one of the listeners. Apparently, we had a mistake on our merges and accidentally downgraded the version. Thought we were still using the latest one.

[2020-05-12 12:38] #44 closed

[2020-05-12 12:47] PiotrPrus opened #45 "`cellPadding` not working for horizontal carousel"
Hi,
as I mentioned in this issue: https://github.com/Giphy/giphy-android-sdk-ui-example/issues/36, the cellPadding is not working. Right now the do value is correct, but padding is still not displayed for horizontal single row carousel. I have double check in the sample.
Steps to reproduce:
 - Run the sample app
 - Go to grid settings
 - set span count to 1
 - set padding to 10
The padding is miss

[2020-05-13 13:06] PiotrPrus opened #46 "Aspect ratio missing in Media class"
According to iOS docs: https://github.com/Giphy/giphy-ios-sdk-ui-example/blob/master/Docs.md#gphmediaview, there is a variable in media GPHMedia class called aspectRatio.
Is it possible to add this field also to Media class in android SDK?

[2020-05-14 12:37] PiotrPrus commented on #46
I have prepared an extension for aspectRatio. Can someone verify if I use proper variables from `Media` class?

`val Media.aspectRatio: Float
    get() {
        val width = this.images.downsized?.width
        val height = this.images.downsized?.height
        if (width == null || height == null) return 1f
        return width.div(height).toFloat()
    }`

[2020-05-15 10:47] mihirmodiofficial opened #47 "how to remove chess background in com.giphy.sdk.ui.views.GPHMediaView?"

[2020-05-15 11:31] mihirmodiofficial commented on #46
Thanks, Please let me know how to remove chess background from transparent gif in GPHMediaView

[2020-05-15 14:00] mihirmodiofficial opened #48 "scrolling issue with com.giphy.sdk.ui.views.GiphyGridView"
scrolling not working

<com.giphy.sdk.ui.views.GiphyGridView
    android:id="@+id/gifsGridView"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    app:gphDirection="horizontal"
    app:gphSpanCount="2"
    app:gphCellPadding="12dp"
    app:gphShowCheckeredBackground="false"/>

[2020-05-15 15:48] PiotrPrus commented on #46
Hi, I am not a Giphy SDK developer. I am trying to use it, but it has so many differences from iOS :(

[2020-05-15 15:51] PiotrPrus opened #49 "Missing onError function"
In iOS docs there is a function that checks the response for giphy by its ID:https://github.com/Giphy/giphy-ios-sdk-ui-example/blob/master/Docs.md#media-ids . It would be nice to have similar think for Android. Currentyl I do not know how to validate GiphyID. Is there any way to check that in current version (1.2.8)

[2020-05-15 17:58] PiotrPrus commented on #49
ok, I found a callback that probably is used for that: `GifView.GifCallback`, but IMHO is not working. It works for proper mediaId, but for wrong mediaID the onFailure is not called.
@Crysis21 could you check it and update docs?

[2020-05-16 04:10] mihirmodiofficial opened #50 "How to make fixed size cell in GiphyDialogFragment"
make all cells height width equal?

[2020-05-16 11:39] mihirmodiofficial commented on #47
try this

                mediaViewGif.bgDrawable = ColorDrawable(getColor(android.R.color.transparent))

[2020-05-19 01:48] moo611 opened #51 "memory can't be recycled."
after dismissing the dialogfragment, the memory was increased by 40-50MB and can't be recycled

[2020-05-19 14:17] powerworr opened #52 "setMediaWithId throws ConcurrentModificationException"
Replacing `itemView.gifView.setMedia(message.media)` with `itemView.gifView.setMediaWithId(message.media.id)`
and ending https://giphy.com/gifs/southparkgifs-l2Sqj9ZOg8wAvW0Xm few times and scrolling results in this crash:
[code]

[2020-05-20 09:38] powerworr commented on #52
Seems that the gif is only 1 frame and maybe that's the cause

[2020-05-22 14:40] HirogaKatageri opened #53 "NoClassDefFoundError in v1.2.8"
Fatal Exception: java.lang.NoClassDefFoundError: Failed resolution of: Lcom/giphy/sdk/ui/r;
       at com.giphy.sdk.ui.d.<init>(:30)
       at com.giphy.sdk.ui.c.<init>(:17)
       at com.giphy.sdk.ui.a.a(:45)
       at com.giphy.sdk.ui.l.a(:98)
       at com.giphy.sdk.ui.Giphy.configure(:22)
       at tv.nexusgaming.streaming.NexplayApplication.onCreate(NexplayApplication.kt:69)
       at android

[2020-05-24 11:02] bilalsoomro commented on #49
Same issue here. This is what I tried and the onFailure() method doesn't trigger if the media id doesn't exist or has been deleted from Giphy.
[code]

[2020-05-25 06:37] PiotrPrus commented on #53
This is a returning issue. I encounter it in `1.2.5`, they have fixed it in 1.2.6 and broke again in 1.2.8

[2020-05-26 03:38] HirogaKatageri commented on #53
In 1.2.6 they also had a different [issue](https://github.com/Giphy/giphy-android-sdk-ui-example/issues/44), that's when I updated to 1.2.8 for our previous release. I skipped 1.2.7 there were no issues on our previous releases using 1.2.8 so I was surprised to encounter another issue like this.

[2020-05-26 12:55] PiotrPrus opened #54 "contentDidUpdate return zero"
Here is the code snippet of my giphyGrid with callback:

`        binding.chatGiphyGrid.callback = object : GPHGridCallback {
            override fun contentDidUpdate(resultCount: Int) {
                Timber.i("Giphy carousel has been updated with quantity: $resultCount")
            }

            override fun didSelectMedia(media: Media) {
                viewModel.addGiphyToChat(media)

[2020-06-01 11:50] yomade1 opened #55 "Error implementing sdk"
Trying to implement sdk but retiring an error. Saying unable to resolve sdk.

[2020-06-01 15:15] PiotrPrus commented on #55
What type of error do you receive? Please check other opened issues. Maybe your problem is known:
https://github.com/Giphy/giphy-android-sdk-ui-example/issues/53

[2020-06-01 16:36] ankitgrin commented on #31
I use GPHMediaView but i get Error inflating class com.giphy.sdk.ui.views.GPHMediaView
how can i solve it

[2020-06-11 09:10] iamarjun opened #56 "Error inflating GiphyGridView"
`2020-06-11 14:34:07.068 28829-28829/com.momentsnap.android.stag E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.momentsnap.android.stag, PID: 28829
    android.view.InflateException: Binary XML file line #62 in com.momentsnap.android.stag:layout/dialog_gif: Binary XML file line #62 in com.momentsnap.android.stag:layout/dialog_gif: Error inflating class com.giphy.sdk.ui.views.GiphyGridVie

[2020-06-12 09:24] mihirmodiofficial opened #57 "No Matrix scaling support please add it"
mGphMediaView..scaleType = ScalingUtils.ScaleType.Matrix

 Please add support for matrix scaling

if your are providing below imageMatrix then why not scaling please add support for it

 (view as GPHMediaView).imageMatrix = matrix

[2020-06-23 08:36] PandurangBangar opened #58 "HTTP CLEARTEXT issue"
Since I have implemented Giphy in app, my app api's does not working its gives below error. its working once I removed Giphy dependency from gradle in android. Giphy api's are working fine but my server api's getting cleartext issue because of Giphy. Please Help......

**Error:**
_HTTP FAILED: java.net.UnknownServiceException: CLEARTEXT communication to xyz.com not permitted by network security po

[2020-06-25 20:14] gaurav-kumar92 commented on #38
@jbb-kryo have you found any example in java? I too am looking for an example in java. @Crysis21 If possible, please upload a java example for android. Thanks!

[2020-06-29 20:33] perracolabs opened #59 "StrictMode violation due to "Untagged socket detected""
We are getting a StrictMode violation. I've tried to ignore it by setting permitNetwork(), yet still failing.
We can't ignore this issue as we use a penaltyDeath in our StrictMode configuration.

[code]

[2020-06-30 09:26] perracolabs commented on #13
Are you planing to localize the SDK? Even though we can as you mention override "**gph_search_giphy**", actually we would have to translate  all the SDK strings for each language we support. **In addition to having to keep a watch in case you add/update/remove strings.**

[code]

Side-note: **gph_results_count** would need special attention on the translations, as plurals and singulars can have a

[2020-06-30 11:32] perracolabs opened #60 "Limit results count"
Is there any possible way to limit how many results are displayed/returned by GiphyDialogFragment?
I've checked in GPHSettings and couldn't find any property.
I saw that in the Web SDK there is a "limit" property.

[2020-07-01 11:10] gildor opened #61 "Remove network_security_config.xml"
com.giphy.sdk:ui:1.2.8 (and earlier versions) includes network_security_config.xml which allows user-defined certificates for debug, and even worse allows cleartextTrafficPermitted.
This config applied to all apps which use the SDK, such behavior shouldn't be applied implicitly because decrease security level, it's true as for this sample, same as for SDK

[2020-07-07 06:13] Crysis21 commented on #13
I'm sorry, but I'm no longer part of the Giphy team. I don't know what are the plans for the SDK.

[2020-07-07 11:54] gouthamsivakumar1 opened #62 "Vertical Scrolling not happening in Giphy android bottomsheet"
<androidx.constraintlayout.widget.ConstraintLayout
            android:layout_width="match_parent"
            android:layout_height="fill_parent"
            android:background="@android:color/transparent">

            <FrameLayout
                android:id="@+id/frameTopLine"
                android:layout_width="@dimen/dimens48"
                android:layout_height="@dimen/dimens4"

[2020-07-07 12:51] bogdantmm92 commented on #62
hey @gouthamsivakumar1, could you please share an image of what you're trying to accomplish with the UI SDK?

[2020-07-07 12:54] bogdantmm92 commented on #60
Currently the sdk is built to display a paginated list of all gifs for a given query. Could you briefly explain why this functionality is important to you? Thanks

[2020-07-07 13:00] bogdantmm92 commented on #58
Hey @PandurangBangar, this seems a configuration issue on on the app side. Let us know if you pinpoint the exact issue and we can take it from there.

[2020-07-07 13:02] bogdantmm92 commented on #57
Hey @mihirmodiofficial, under the hood the GifView uses SimpleDraweeView from fresco. [Here](https://frescolib.org/docs/scaletypes.html) you can find more details on how to apply custom scaling.

[2020-07-07 13:04] gouthamsivakumar1 commented on #62
[
![Screenshot from 2020-07-07 18-33-23](https://user-images.githubusercontent.com/22275806/86785577-78028780-c080-11ea-9356-b3df7cda717b.png)
](url)

[2020-07-07 13:11] bogdantmm92 commented on #62
Some other view in your layout might intercept touch views. Any reason you're not using GiphyDialogFragment directly as in the example?

[2020-07-07 13:25] perracolabs commented on #60
We have an app with our own built-in paid premium resources.
We are integrating Giphy to offer a large selection of free GIFs.
The issue is that in order to not loose the value of our premium resources, and for users to still have a reason to purchase our app, we would need to limit the amount of Giphy's results.
Otherwise, if we give an unlimited result list from Giphy, then our product premium r

[2020-07-07 13:26] gouthamsivakumar1 commented on #62
hi , for some UI customization i needed to change it to BottomSheetDialogFragment .but when i used  gridview direction in  horizontal it is working fine .

[2020-07-07 13:52] bogdantmm92 commented on #62
Yes, I would make sure you don't have other vertical scroll elements except the giphy grid.

[2020-07-07 15:02] perracolabs commented on #59
Seems the reason is okhttp:

https://github.com/square/okhttp/issues/3537

[2020-07-07 15:38] perracolabs opened #63 "How to set the default active GPHContentType?"
When configuring **GiphyDialogFragment** with a list of **GPHContentType**(s), how to define which is the default active one?

The ideal would be to be able to restore the most recently used content type the next time **GiphyDialogFragment** gets opened again, as the user may have predilection for such specific content type.

Maybe a solution would be to add a new extra parameter in **GPHSettings.

[2020-07-08 14:46] perracolabs opened #64 "Tabs are overlapping when using long text localizations"
As Giphy isn't localized besides english, we are making the translations ourselves by overriding the "gph_" related strings for all our supported languages.
We've found that the tabs will span over the others when the text is too long. See the next example with a Russian localization. The "results" string overlaps the "recents" string

Recents = Недавние
Results = результатов

![image](https://use

[2020-07-08 16:26] perracolabs opened #65 "StrictMode vilation due to LeakedClosableViolation"
We discovered a new StrictMode violation. This one is due to a resources not being closed.
The issue happens none-stop when scrolling through the GiphyDialogFragment.

**Stacktrace:**
[code]

[2020-07-10 17:00] BoumBam commented on #38
@Crysis21 I am too looking for example in java.
How to use it in java ?

Thanks.
*

[2020-07-11 11:38] BoumBam opened #66 "Error trying to use it in java file"
I want to use that Giphy in my 100% java  android project
When I use that code in kotlin file it works fine.
`   Giphy.configure(this, "key")
    GiphyDialogFragment.newInstance().show(supportFragmentManager, "giphy_dialog") `

But when I am in java file:
**configure** is red marked with message: non static'confirgure(android.content.@org.jetBrainsAnnotation. NonNull conntext ......)' cannot be re

[2020-07-13 16:26] perracolabs commented on #66
@BoumBam Try the next snippet. Notice that for **Giphy.INSTANCE.configure**, you must set to **True** the third parameter only when you need to verify your developer's key. After they verify your key then set it always to **False**.

[code]

[2020-07-14 18:07] BoumBam commented on #66
@perracolabs Thanks guy I would never be able to find solution for that if you did not help me.

I have another question if you have time:
How could I get the src file source name of the selected gif (something like: **https://media0.giphy.com/media/bbshzgyFQDqPHXBo4c/giphy.gif)** ?

I want to show the selected gif in an ImageView.

Thanks.

[2020-07-14 18:42] perracolabs commented on #66
In the **null** parameter pass the **listener** that will receive the selection callback.
For example, in your Fragment, Activity or a dedicated class, implement the listener interface and pass the instance as the listener.

About getting the GIF into an **ImageView**, there are several ways, but the simplest is to use [Glide](https://github.com/bumptech/glide), or [Fresco](https://github.com/face

[2020-07-15 04:30] mihirmodiofficial commented on #57
the problem is GPHMediaView is Final class so i cannot inherit to make a custom view to perform Drag Drop Rotate and Scaling.

[2020-07-15 19:39] ALexanderLonsky commented on #65
@perracolabs thanks for flagging this issue, we're looking into it and will get back to you.

[2020-07-15 22:18] BoumBam commented on #66
Thanks a lot for your time. Work great. Be blessed.

[2020-07-15 22:49] BoumBam opened #67 "How to customize the default dialog ?"
Hello,
I have image below:

![109379939_2693162354286667_733316393486823672_o](https://user-images.githubusercontent.com/26336351/87607632-50996380-c6ed-11ea-9f2c-69f18ac392fc.jpg)

I want to customize the default dialog.

Using java:

My app will be translated in 5 languages,  How could I change the red marked texts ?
How coul I replace the red marked serch icon ?
How could I change the backgroun

[2020-07-16 15:41] perracolabs commented on #67
@BoumBam You need to override Giphy's strings in your **strings.xml** localization files.
Copy paste the strings bellow to get you started.
In addition, if you press the Ctrl key + Click over one of these strings once are in your project **strings.xml** file, then Android Studio will give you the choice to navigate into the original Giphy's file. There you can select other values that you wish to

[2020-07-16 16:18] BoumBam commented on #64
I have same problem.
Did you find any solution ?

Thanks.

[2020-07-16 16:57] cgmaier commented on #60
hey @perracolabs - thanks for opening this issue! unfortunately we can't support this use case in the SDK

however, you can use the GIPHY API to achieve this experience

good luck !

[2020-07-16 16:57] #60 closed

[2020-07-16 17:02] BoumBam commented on #67
Hello again,
I tried to get the imageView of the serch icon to cchange it with:
`LayoutInflater factory = getLayoutInflater();
         View new_post_background_image = factory.inflate(R.layout.gph_search_bar_full, null);
        ImageView imageView = new_post_background_image.findViewById(R.id.performSearchBtn);`

But I see error:
`java.lang.RuntimeException: Unable to start activity ComponentInf

[2020-07-16 17:32] perracolabs commented on #64
@BoumBam Ended up removing the "Results" string part and leaving only "%1$d", so instead it only appears the total number.

[2020-07-16 17:52] perracolabs commented on #67
@BoumBam Instead of changing the ImageView icon by accessing the View, try instead to override the icon itself.

I am no sure it will work because it will depend in other facts such as if they perform some changes by code. But, the way to do it is to override the used resources  by creating the files in your project with the same names as the ones in Giphy, this way your files take priority.
Take

[2020-07-16 18:36] BoumBam commented on #67
I copied all the content of `res` folder and edited `gph_search_btn_bg.xml` by:

`<?xml version="1.0" encoding="utf-8"?>
<shape xmlns:android="http://schemas.android.com/apk/res/android"
    android:shape="rectangle">
    <gradient
        android:angle="45"
        android:endColor="#000000"
        android:startColor="#000000" />
</shape>`

But no change.
The search icon color has same color, it

[2020-07-16 19:13] #62 closed

[2020-07-16 19:13] #55 closed

[2020-07-20 11:17] gouthamsivakumar1 commented on #62
![Screenshot_20200720-164513](https://user-images.githubusercontent.com/22275806/87932173-b3517d00-caa8-11ea-9bd1-50b8a4f5b145.jpg) . i can't do the vertical scroll in it

[2020-07-20 16:32] ALexanderLonsky commented on #65
@perracolabs please try a new version: "com.giphy.sdk:ui:1.2.9"

[2020-07-20 16:41] ALexanderLonsky commented on #64
@perracolabs , @BoumBam thanks for raising this, we are on it and will get back to you soon.

[2020-07-20 18:00] sportyjay92 commented on #57
@mihirmodiofficial do you know any way I can drag and resize gif from Giphy ?

[2020-07-21 13:26] wiggisser opened #68 "Deprecated Gradle features were used in this build, making it incompatible with Gradle 7.0"
In the docs, you state to add the giphy SDK as follows

    maven {
        url "http://giphy.bintray.com/giphy-sdk"
    }

When I do this, I get the following warning in the build:

It works if I use

    maven {
        url "https://giphy.bintray.com/giphy-sdk"
    }

instead. Please adapt the docs accordingly ...

[2020-07-21 14:11] ALexanderLonsky commented on #68
@wiggisser thanks for flagging this, we will update the documentation.

[2020-07-23 13:54] mihirmodiofficial commented on #57
https://github.com/DroidNinja/Whatsapp-Like-PhotoEditor @sportyjay92  check out here i have implemented this

[2020-07-23 14:27] #66 closed

[2020-07-23 14:28] #65 closed

[2020-07-23 16:52] ALexanderLonsky commented on #68
@wiggisser the documentation is updated, thanks!

[2020-07-23 16:52] #68 closed

[2020-07-23 18:16] wiggisser commented on #68
https://developers.giphy.com/docs/sdk#android

is still pointing to `http://giphy.bintray.com/giphy-sdk`

[2020-07-24 04:43] WildSpirit007 opened #70 "Get frames of Media onGifSelected"
I am working on Giphy on Android. It is working fine

I want to know if there is any way to extract the media frames (i.e as list of Bitmaps ) when a gif is selected.

Thank you

[2020-07-24 16:06] ALexanderLonsky commented on #64
@perracolabs , @BoumBam please try a new version: "com.giphy.sdk:ui:1.2.9". We've removed the "results" string.

[2020-07-24 16:06] #64 closed

[2020-07-24 16:32] ALexanderLonsky commented on #57
@mihirmodiofficial thank you fo flagging the issue, we'll make GPHMediaView inheritable in the next release.

[2020-07-24 16:38] ALexanderLonsky commented on #63
@perracolabs, thanks for flagging this, we'll look into it and get back to you.

[2020-07-24 17:55] ALexanderLonsky commented on #70
hey @WildSpirit007,

We don't provide this out-of-the-box.

You should handle GIF selection. For doing that you need to implement the GifSelectionListener interface.
Please find more details [here](https://github.com/Giphy/giphy-android-sdk-ui-example/blob/master/Docs.md).
Then you can retrieve an url to a gif like
`media.images.fixedWidth.gifUrl`

And now you can achieve your goal using any solut

[2020-07-25 18:28] #70 closed

[2020-07-25 18:32] ALexanderLonsky commented on #59
@perracolabs yes, this one is due to okhttp.
I'll be looking into that.

[2020-07-25 18:44] ALexanderLonsky commented on #38
Anyone who is facing this issue please find further discussion here: #66

[2020-07-25 18:44] #38 closed

[2020-07-25 18:46] #47 closed

[2020-07-27 16:38] ALexanderLonsky commented on #46
@mihirmodiofficial thank you for flagging this issue and I'm sorry for late response. I'll add aspectRatio property in the next SDK release.
P.S. In iOS version we use "original" instead of "downsized".

[2020-07-30 20:34] ALexanderLonsky commented on #35
@sankiran I'm sorry for the late response, you can achieve it by subclassing GifView, here is an example:

[code]

[2020-07-30 20:34] #35 closed

[2020-07-31 12:19] amitkle opened #71 "Can't search over emojis"
Hey,
I'm not sure if it is a bug, but I can't search over emojis. It is automatically search over gifs (I'm passing MediaType.emoji)
Showing the trending does work.

[2020-07-31 13:04] cgmaier commented on #71
hey @amitkle - that's the correct behavior. the set of emojis aren't searchable at the moment

[2020-07-31 13:39] #71 closed

[2020-07-31 14:42] amitkle commented on #71
Ok thanks :)

[2020-07-31 14:45] amitkle opened #72 "Search over multiple MediaType"
Hello!
Is there an option to search over MediaType.text and sticker at the same time?
Thanks!

[2020-07-31 14:58] cgmaier commented on #72
hey @amitkle, not at the moment, though sticker search results do content 'text' results as well.

[2020-07-31 14:58] #72 closed

[2020-07-31 19:05] amitkle opened #73 "Bugs in loading videos on GiphyGridView"
Hello,
I found two bugs using the GiphyGridView on "one+ 8 pro" device.
The GiphyGridView works great on other devices.
I've attached videos.
[giphy_videos.zip](https://github.com/Giphy/giphy-android-sdk-ui-example/files/5008630/giphy_videos.zip)

[2020-08-03 08:01] ALexanderLonsky commented on #73
hey @amitkle, thank you for filing the issue. We'll look into it.

[2020-08-03 18:39] ALexanderLonsky commented on #63
@perracolabs please try a new version #1.3.1:
[settings](https://github.com/Giphy/giphy-android-sdk-ui-example/blob/master/Docs.md#gphsettings-properties)
`settings.selectedContentType = GPHContentType.emoji`

[2020-08-03 18:47] ALexanderLonsky commented on #63
This solved with 1.3.1 - going to close but let me know if you still have trouble : )

[2020-08-03 18:47] #63 closed

[2020-08-03 18:57] ALexanderLonsky commented on #57
@mihirmodiofficial please try a new version 1.3.1, `GPHMediaView` is open to subclassing now.

[2020-08-03 19:07] ALexanderLonsky commented on #51
@moo611 thank you for flagging this.
We've removed leaks in version 1.3.1.

But those 40-50MB should be cache. When you close/open the `dialogfragment` many times, memory is not increasing constantly, it has upper threshold.

Under the hood the `GifView` uses `SimpleDraweeView` from `Fresco`
You can try to clear `Fresco` cache:
[code]

Please let me know if that works for you.

[2020-08-03 19:08] ALexanderLonsky commented on #46
@mihirmodiofficial This solved with 1.3.1 - going to close but let me know if that does not work for you.

[2020-08-03 19:08] #46 closed

[2020-08-03 19:12] ALexanderLonsky commented on #49
@PiotrPrus, @bilalsoomro ,
Please try a new version 1.3.1:

[code]

Also there are two new methods to fetch gifs by IDs:
[code]

Please let me know if that works for you.

[2020-08-03 19:12] ALexanderLonsky commented on #54
@PiotrPrus please try a new version 1.3.1, it's fixed there.
thank you!

[2020-08-05 18:38] bilalsoomro commented on #49
@ALexanderLonsky It works for me now. Thanks!

[2020-08-07 02:07] moo611 commented on #51
thanks

[2020-08-07 13:47] #57 closed

[2020-08-07 13:47] #54 closed

[2020-08-07 13:49] #49 closed

[2020-08-07 13:50] #51 closed

[2020-08-10 16:18] ALexanderLonsky commented on #61
@gildor thank you for flagging this. It's removed in [v1.3.2](https://github.com/Giphy/giphy-android-sdk-ui-example/releases/tag/v1.3.2)

[2020-08-13 13:20] #61 closed

[2020-08-14 04:15] barsbaatar2 opened #76 "Can't show dialog"
I am using java for development and exampling your Kotlin code. but i can't show GiphyDialogFragment dialog.

`public final GPHSettings settings = new GPHSettings(GridType.waterfall, GPHTheme.Light, mediaTypess, false, false, RatingType.g, null, null,false, false, 3, GPHContentType.emoji);`

in onCreate
`Giphy.INSTANCE.configure(getContext(), YOUR_API_KEY, true);`

in onCreateView

[code]

[2020-08-14 12:45] ALexanderLonsky commented on #76
@barsbaatar2 ,
can you please try this [code snippet](https://github.com/Giphy/giphy-android-sdk-ui-example/issues/66#issuecomment-657659487)?

[2020-08-20 04:16] barsbaatar2 opened #77 "String to Media ..."
I got Media from onGifSelected... Then, pass it to API or etc as String.

`public void onGifSelected(@NotNull Media media, @org.jetbrains.annotations.Nullable String s, @NotNull GPHContentType gphContentType) {`

Other side, I get the pass String that stores giphy media variable. Then, I need to use this String in GPHMediaView (com.giphy.sdk.ui.views.GPHMediaView). But GPHMediaView accept Media ty

[2020-08-20 04:17] barsbaatar2 commented on #76
Thanks it help a lot.

[2020-08-20 04:17] #76 closed

[2020-08-20 10:03] barsbaatar2 opened #78 "Error on gif.setMediaWithId function"
I used gif.setMediaWithId but i faced some error.
The error is `Unable to perform network request for url=https://api.giphy.com/v1/gifs/...`
Maybe my code is false.
My code is
[code]

Please help me and expain about this. How can I solve this problem in java with media.id...

[2020-08-21 07:58] barsbaatar2 opened #79 "Checkered backgound..."
I am using Giphy SDK in java.
 **_The problem is my gif.s background is not transparent but checkered._**
![118099391_925334711277678_2018644654064040746_n](https://user-images.githubusercontent.com/59549374/90865903-b3a1a880-e3c5-11ea-9f6a-da2c9a8d4a6e.jpg)

In some reason such as passed by API, I am using mediaID of GIF to display.
[code]
and also used
`giphy.setMediaWithId(mediaID, null, null,

[2020-08-21 07:59] barsbaatar2 commented on #78
It is working hehe...
gif.setMediaWithId(media.getId(), RenditionType.downsized, null,  (mediaResponse, throwable) -> {
                            return null;
                        });

[2020-08-21 07:59] #78 closed

[2020-08-21 08:00] barsbaatar2 commented on #77
Solve this problem with...
[code]
or
`giphy.setMediaWithId("mediaID", null, null, null);`

[2020-08-21 08:00] #77 closed

[2020-08-24 02:51] barsbaatar2 commented on #79
for emoji: QTxCEgcvorSGCSXxKE
for sticker: TKYOsg7Ebrp1Uycacd

[2020-08-24 11:30] ALexanderLonsky commented on #79
@barsbaatar2 please try to set
`giphy.isBackgroundVisible = false`

[2020-08-25 02:31] barsbaatar2 commented on #79
That worked... Thanks a lot for your support

[2020-08-25 02:31] #79 closed

[2020-08-26 21:58] cole-smith opened #80 "Manually dragging GiphyDialogFragment to the very bottom of screen causes a crash"
Device experiencing bug: Google Pixel 4A, api 30
GIPHY SDK Version: 1.3.2

Triggered when manually dragging the uppermost part of the GiphyDialogFragment to the very bottom of the screen. If the GiphyDialogFragment swipes closed by itself at all then the error does not occur. I am calling the GDF from another fragment using the method shown in the Android SDK docs.

I am unsure if this occurs on i

[2020-08-27 08:55] ALexanderLonsky commented on #80
@cole-smith hey, thanks for raising this bug, indeed, I can reproduce and will look into it.

[2020-08-28 04:41] binodav opened #81 "onGifSelected Media return wrong media type"
onGifSelected Media object always return "gif" type even I selected "emoji" or "stickers".
Object GPHContentType return correct type but if I selected from recents tab its name will return as "recents" which is not correct.

[2020-08-28 10:28] ALexanderLonsky commented on #81
@binodav thanks for flagging that. Yes, it's a known backend issue. GPHContentType is a different thing, you shouldn't use it as a media type. I'll let you know when it's fixed.

[2020-09-02 18:12] ALexanderLonsky commented on #81
@binodav please try [v 1.3.3](https://github.com/Giphy/giphy-android-sdk-ui-example/releases/tag/v1.3.3)

[2020-09-03 12:51] binodav commented on #81
@ALexanderLonsky Thank you, I have tried it. It's working now. I hope you can fix for iOS version as well.

[2020-09-09 03:30] colorgold opened #84 "setSelectedContentType does not load correct tab"
Version: com.giphy.sdk:ui:2.0

I am trying to display the Emojis first, but when I open the `giphyDialogFragment`, it shows the GIFs in the size of the emojis.

Here is the code I used:
[code]
This is how I show the fragment:
`                giphyDialogFragment.show(chatRadioActivities.getSupportFragmentManager(), getString(R.string.giphy_dialog));
`

Here is a screenshot of what it looks like:
!

[2020-09-09 12:14] ALexanderLonsky commented on #84
@colorgold thanks for flagging the issue, I'll take a look and will get back to you.

[2020-09-10 16:31] ALexanderLonsky commented on #84
@colorgold please try [v2.0.1](https://github.com/Giphy/giphy-android-sdk-ui-example/releases/tag/2.0.1)

[2020-09-10 16:32] ALexanderLonsky commented on #73
@amitkle could you please try if [v2.0.1](https://github.com/Giphy/giphy-android-sdk-ui-example/releases/tag/2.0.1) fixes the issue?

[2020-09-11 00:52] colorgold commented on #84
@ALexanderLonsky It works! Thank you!

[2020-09-11 00:55] colorgold commented on #84
When you open the `giphyDialogFragment` for the first time, it shows up correctly. However, after that, it shows the GIFs first if not the emojis in the size of the GIFs.

[2020-09-11 06:52] ALexanderLonsky commented on #84
@colorgold I'll test this more and release a fix in the next version. I'll get back to you once it's done.

[2020-09-11 10:13] ALexanderLonsky commented on #84
@colorgold
`However, after that, it shows the GIFs first if not the emojis in the size of the GIFs.`
does it happen when keyboard is showing up? If yes, then it's correct behaviour as we don't allow to search through emojis. I see now that grid content is not reloading when emoji was gone, this is a bug.

[2020-09-11 15:22] colorgold commented on #84
@ALexanderLonsky
It happens without the keyboard showing up. But a bigger problem I am having is that if I try to open the keyboard, the fragment closes on its own. This is how you can reproduce the problem I am seeing:
1. Open the `giphyDialogFragment` (the emojis load correctly)
2. Close the `giphyDialogFragment` without searching for anything.
3. Open the `giphyDialogFragment` again:
     -As s

[2020-09-11 16:27] ALexanderLonsky commented on #84
@colorgold to my regret, I can't reproduce it..

I've updated the code for the giphy-android-sdk-ui-example example project:

[code]
updated settings with `mediaTypeConfig` and `selectedContentType`

And the fragment does not close on its own. The only issue I have now is that grid does keep its content regardless emojis visibility change.
Did you try to run the example project? Do you have the pr

[2020-09-11 17:38] ALexanderLonsky commented on #84
@colorgold I've noticed that you are using Java, so I prepared a new Java project.
Please try it out too.

[test_project.zip](https://github.com/Giphy/giphy-android-sdk-ui-example/files/5210742/test_project.zip)

[2020-09-11 21:14] colorgold commented on #84
@ALexanderLonsky
I tapped out the way you did, and I can go and search just fine. However, if I slide my finger downwards to close the dialog that is when I have the problem.

[2020-09-12 14:16] ALexanderLonsky commented on #84
@colorgold I can reproduce only [this one](https://github.com/Giphy/giphy-android-sdk-ui-example/issues/80) when using blur mode.

[2020-09-12 23:15] colorgold commented on #80
@ALexanderLonsky
I disabled the blur. It does not crash for me. It just prevents me from searching GIFs.

[2020-09-13 00:01] colorgold commented on #84
@ALexanderLonsky
I added `settings.setUseBlurredBackground(false);` and still the problems persists. The tab issue was fixed. It does sometimes goes back and forth between showing GIFs and emojis when opening and closing without searching anything.

Here is a video of the dialog fragment closing on its own after dismissing it by sliding down

[device-GIPHY.zip](https://github.com/Giphy/giphy-andro

[2020-09-14 19:11] ALexanderLonsky commented on #84
@colorgold finally I came up with a thought you can use the same instance of `GiphyDialogFragment` and I can reproduce now the issue with the fragment is closing on its own.
As a quick solution, you can create a new instance each time you are opening it.
You can copy the code from [here](https://github.com/Giphy/giphy-android-sdk-ui-example/files/5210742/test_project.zip)

And here is a hotfix for

[2020-09-14 22:46] colorgold commented on #84
@ALexanderLonsky I was using the same instance of the dialog. I followed your example and it worked. Thank you so much for your help.

[2020-09-15 08:06] #84 closed

[2020-09-17 05:51] prasad-media commented on #56
Check if you have following line before setcontentview()
Giphy.configure(context, VALID_GIPHY_API_KEY)

[2020-09-17 05:54] prasad-media opened #86 "GiphyGridView Crash"
E/com.giphy.sdk.ui.s: Unable to perform network request for url=https://api.giphy.com/v1/gifs/trending?limit=25&rating=pg-13&random_id=daf954f55f606530304266776bb4292f&offset=0&api_key=ABC
    java.io.InterruptedIOException: thread interrupted
        at com.android.okhttp.okio.Timeout.throwIfReached(Timeout.java:147)
        at com.android.okhttp.okio.Okio$1.write(Okio.java:75)
        at com.and

[2020-09-17 15:37] ALexanderLonsky commented on #86
@prasad-media it shouldn't be a crash but a caught exception. Are you sure you are using correct token?
`ABC` won't work

[2020-09-18 02:35] rooparsh opened #87 "Giphy Crash"
The SDK is crashing on back button press.

Attaching the logs

[code]

Giphy SDK Version - 2.0.1
Android Version - 10

[2020-09-18 08:05] ALexanderLonsky commented on #87
@rooparsh please try this version:
`com.giphy.sdk:ui:2.0.1-hotfix2`

[2020-09-18 08:16] rooparsh commented on #87
@ALexanderLonsky Still the same uninitialized crash, but source appears different this time

[code]

[2020-09-18 09:47] prasad-media commented on #86
@ALexanderLonsky I'm using correct API-Key, just replaced it with ABC before posting here. I'm able to see the and integrate all giphy media but when I scroll down and up multiple times, app crashes with above error.

[2020-09-18 12:44] ALexanderLonsky commented on #87
@rooparsh it's weird, I can't even reproduce it. How to do you show `GiphyDialogFragment`?

[2020-09-18 13:24] rooparsh commented on #87
@ALexanderLonsky it's working fine now. Thanks for the hotfix , although I can see IOException in the logs. It's not causing any crash, but thought of letting you know.

[code]

[2020-09-18 13:48] ALexanderLonsky commented on #87
@rooparsh I think it's because of
`api_key=4V0XXXXXXXXXXXXXXXXXX`
actually it throws this exception when can't perform a request.

[2020-09-18 14:57] cuiti commented on #46
Hi @ALexanderLonsky , sorry to bring back this issue but I cannot access `aspectRatio` in the `Media` object that I get in `GifSelectionListener.onGifSelected()`.
I tried initially with 2.0.1, and then downgraded to 1.3.1, but still nothing.
Any ideas?

[2020-09-18 21:09] alexbagg03 commented on #53
I am experiencing this issue on **v2.0.1**. Any resolution to this?

Only workaround I have right now is to `Rebuild` the project in Android Studio anytime it occurs. After rebuilding, the crash does not occur initially but eventually comes up again leading me to believe the build cache used by the SDK gets into a bad state. Not sure if it only happens after I make changes to my app's code or some

[2020-09-21 16:31] ALexanderLonsky commented on #86
@prasad-media does it crash for you? I can see exceptions in logs but it does not crash for me.

[2020-09-21 18:59] prasad-media commented on #86
Yes @ALexanderLonsky It's still crashing for me.

[2020-09-22 08:19] ALexanderLonsky commented on #86
@prasad-media is `com.giphy.sdk:ui:2.0.1-hotfix4` crashing too?

[2020-09-22 08:21] ALexanderLonsky commented on #87
@rooparsh could you please try `com.giphy.sdk:ui:2.0.1-hotfix4` and tell me if you are experiencing `IOException`s?

[2020-09-22 08:33] rooparsh commented on #87
Sure let me check

[2020-09-22 09:10] rooparsh commented on #87
@ALexanderLonsky Yes its still there.

[code]

It's happening when you inflate the view (In my case, am using carousel mode).

[2020-09-22 09:21] ALexanderLonsky commented on #87
@rooparsh thank you!

[2020-09-22 15:39] ALexanderLonsky commented on #86
@prasad-media `com.giphy.sdk:ui:2.0.1-hotfix5` should resolve the issue. Please let me know if that works for you

[2020-09-22 16:00] prasad-media commented on #86
Yeah. This seems to have resolved this issue.

[2020-09-22 16:51] ALexanderLonsky commented on #87
@rooparsh `com.giphy.sdk:ui:2.0.1-hotfix5` should resolve the exception issue.

[2020-09-22 16:52] #86 closed

[2020-09-23 12:48] #87 closed

[2020-09-24 01:46] rooparsh commented on #87
@ALexanderLonsky thanks it's working

[2020-09-25 15:13] amitkle commented on #73
@ALexanderLonsky Hey, it seems like it fixed it :)
Thank you very much!

[2020-10-06 09:32] jetsekoopmans opened #91 "Disable suggestions"
GIPHY SDK Version: 2.0.3

How do I disable the suggestions/trending keywords that appear below the search bar and above the GIF's?

[2020-10-07 12:21] ALexanderLonsky commented on #91
@jetsekoopmans there is no option to do that now, but we'll provide it soon.

[2020-10-07 13:58] jetsekoopmans commented on #91
Nice, thanks! Any ETA? :)

[2020-10-08 06:37] MobilefactoryAT opened #92 "Fresco already initialized"
we are using Fresco in our app as image cache library anyway and Giphy trys to initialize it twice...
Log appears when Giphy SDK is configured:
[code]

Is it possible to disable the secondary initialisation?

[2020-10-08 14:19] ALexanderLonsky commented on #92
@MobilefactoryAT We have special fresco setup to support our use case, though this should not pose any conflicts with your use of fresco outside of the GIPHY SDK. We can make this setup method public so that you may call it in advance of presentation of the GIPHY fragment.

[2020-10-09 10:14] MobilefactoryAT commented on #92
I'm just wondering, when I initialised my Fresco at app startup and later on somewhere in the app your fresco is initialised (eg.: before Giphy bottom sheet is shown) . Does fresco block/use 2x memory and bitmap cache and stuff or just once and your newly set fresco initialisation overrules mine previous initialised cache and ram settings?
Could this more easily lead to a OutOfMemoryException when

[2020-10-12 10:18] ALexanderLonsky commented on #92
`Does fresco block/use 2x memory and bitmap cache and stuff or just once and your newly set fresco initialisation overrules mine previous initialised cache and ram settings? Could this more easily lead to a OutOfMemoryException when we use 2x fresco instead of onetime? Whats the best practice in such a case?`
I don't have an answer right now, it depends on Fresco implementation. For sure `Fresco.i

[2020-10-12 11:03] MobilefactoryAT commented on #92
Well, I have my own "`CacheKeyFactory`" and "`OkHttpClient`" that needs to be set during initialisation. Just to make the init call public wouldn't work for me I think...

[2020-10-12 14:26] ALexanderLonsky commented on #92
I see, I'll coordinate this with my team and get back to you.

[2020-10-13 11:36] ALexanderLonsky commented on #92
@MobilefactoryAT
What if we extend the init call with more params?
`okhttpclient builder` as an optional parameter and `cache configs` you prefer.
So initialising is still on our side but you provide your own config/builders.

[2020-10-14 06:00] MobilefactoryAT commented on #92
@ALexanderLonsky
This is my current setup. I don't mind about the disc cache config, but the rest would be nice.
Let me know what you can do :-)

thanks

`//Make sure Fresco is initialized before creating the first ImageViews depending on it.
            if (!Fresco.hasBeenInitialized()) {
                //defining request timeouts and logging
                val okHttpClient = OkHttpClient.Build

[2020-10-14 14:33] ALexanderLonsky commented on #92
@MobilefactoryAT please try this version:
`com.giphy.sdk:ui:2.0.3-fresco-handler`

`Giphy` has one new property: `frescoHandler`

You can set it here:
`Giphy.configure(context, YOUR_API_KEY, verificationMode, YOUR_FRESCO_HANDLER)`

Then:

[code]

[2020-10-15 06:21] MobilefactoryAT commented on #92
@ALexanderLonsky thanks for the fast implementation changes from your side, I'm impressed ;-)
Here is my solution, it seems to work fine 👍

`/**
     * Initialize Fresco image cache.
     * Uses Giphy Fresco library for default initialization, to avoid double init of Fresco.
     * As fallback we use our own fresco [initFrescoWithoutGiphy]
     */
    fun initImageCache(context: Context) {

[2020-10-15 07:23] ALexanderLonsky commented on #92
Awesome, looks good!

[2020-10-15 07:28] #92 closed

[2020-10-16 15:47] BoumBam opened #93 "onGifSelected in fragment does not work"
When showing the GiphyDialogFragment in fragment, after clicking on a gif the `onGifSelected ` method is not called and I can't get the gif Url.
It works fine when I'm in an Activity.
Any solution ?

[2020-10-19 09:59] ALexanderLonsky commented on #93
@BoumBam could you check please if [this](https://github.com/Giphy/giphy-android-sdk-ui-example/blob/master/Docs.md#gifselectionlistener-technical-note) helps?

[2020-10-19 10:16] BoumBam commented on #93
@ALexanderLonsky Thanks, I already solved it.

[2020-10-19 10:16] #93 closed

[2020-10-19 17:45] ALexanderLonsky commented on #91
@jetsekoopmans I am sorry, I've missed your message :(
Please try this version: `com.giphy.sdk:ui:2.0.3-suggestions-on-off`

`GiphyDialogFragment.newInstance(settings.copy(showSuggestionsBar = false))`

[2020-10-20 01:50] Gazzx commented on #53
This problem is quite annoying, I have it on v2.0.3 and the only way to fix it is a rebuild which is not good in big projects that take minutes to rebuild.

it mostly happens when I change a big chunk in my code or on my first build the next day.

[2020-10-20 06:36] jetsekoopmans commented on #91
It works like a charm, thanks!!

[2020-10-20 10:26] #91 closed

[2020-10-21 11:15] dino9 opened #94 "java.lang.NoClassDefFoundError: Failed resolution of: Lcom/giphy/sdk/ui/r;"
I experience this issue in the giphy SDK 2.0.3. Is there any specific configuration i miss to include?

java.lang.NoClassDefFoundError: Failed resolution of: Lcom/giphy/sdk/ui/r;
        at com.giphy.sdk.ui.d.<init>(Unknown Source:30)
        at com.giphy.sdk.ui.c.<init>(Unknown Source:17)
        at com.giphy.sdk.ui.a.a(Unknown Source:43)
        at com.giphy.sdk.core.b.a(Unknown Source:96)

[2020-10-21 13:14] dino9 commented on #53
I've been thinking to get rid of the complete Giphy SDK as it seems to have some bundling issues. While building SDK it looks like obfuscated files are getting bundled.

[2020-10-21 17:09] HirogaKatageri commented on #53
@dino9 I can confirm they have obfuscated files and its these files that are sometimes obfuscated that are causing issues.

[2020-10-21 20:14] ALexanderLonsky commented on #53
@dino9, @HirogaKatageri I'll look into this.

[2020-10-22 18:28] ALexanderLonsky commented on #53
@dino9, @HirogaKatageri, @Gazzx, @alexbagg03

Actually it's weird and I can't even reproduce this on my side.

I've made a new rule for this one:`com/giphy/sdk/ui/r;`

Could you please check if that version works for you?
`com.giphy.sdk:ui:2.0.3-obfuscation-issue`

[2020-10-22 18:29] ALexanderLonsky commented on #94
Duplicate of #53

[2020-10-22 20:22] ALexanderLonsky commented on #53
And one more question: do you use proguard for your debug builds?

[2020-10-23 02:51] HirogaKatageri commented on #53
@ALexanderLonsky On our end, we haven't enabled proguard on both our debug and release builds yet.

[2020-10-23 05:16] #94 closed

[2020-10-23 07:31] dino9 commented on #53
@ALexanderLonsky The new obfuscation lib is not fixing the issue. I tried a couple of times but the same issue.

[2020-10-23 08:42] ALexanderLonsky commented on #53
@HirogaKatageri I see, thank you.
@dino9 is it the same:
[code]
?

[2020-10-23 09:26] ALexanderLonsky commented on #53
@dino9 here is a version without obfuscation:
`com.giphy.sdk:ui:2.0.3-no-obfuscation`

[2020-10-23 11:46] dino9 commented on #53
@ALexanderLonsky Yup. Got fixed. @HirogaKatageri How's from ur end?

[2020-10-23 12:42] HirogaKatageri commented on #53
@ALexanderLonsky @dino9 It's working fine on my end.

[2020-10-23 13:53] ALexanderLonsky commented on #53
@dino9 , @HirogaKatageri
Could you please help me to reproduce the issue at my end using an obfuscated version?
do you have any sample project to share where this is happening?

does Giphy-Example project work for you?

what gradle version, android studio version do you use?
do use instant run in Android Studio or not?
do you have any custom scripting in your gradle config?

Thanks in advance!

[2020-10-28 18:10] #53 closed

[2020-11-05 15:07] sathishmscict opened #96 "Remove button not visible"
"Remove" button not visible for some of gif images from "Recent" tab. Please review below images for more information :

![image](https://user-images.githubusercontent.com/18158746/98257915-3dfdaf80-1fa6-11eb-8137-55ea32a83265.png)

![image](https://user-images.githubusercontent.com/18158746/98257942-48b84480-1fa6-11eb-9c9b-7898816600fe.png)

![image](https://user-images.githubusercontent.com/1815

[2020-11-06 06:50] ALexanderLonsky commented on #96
@sathishmscict thank you for flagging this, I'll take a look.

[2020-11-06 09:20] PasqualePuzio opened #97 "How to customize font and button background color in dialog"
Hi,

we would like to customize some details in the dialog such as the font of the dialog and the buttons background color.

Is there a recommended or even undocumented way to achieve this?

Thanks

![gif2](https://user-images.githubusercontent.com/7646303/98348905-9cb04100-2019-11eb-9702-c67accf72224.png)
![gif1](https://user-images.githubusercontent.com/7646303/98348919-a0dc5e80-2019-11eb-8357-f

[2020-11-06 10:49] PasqualePuzio commented on #67
I would like to have more customization options too.

[2020-11-09 15:36] ALexanderLonsky commented on #97
Hi @PasqualePuzio, I'll take a look and let you know.

[2020-11-09 22:09] ALexanderLonsky commented on #97
@PasqualePuzio you can customise the button background color by overriding the following resources:
[code]
also you can customise the search bar colors:
<color name="gph_blurred_search_bar_background_light">#F1F1F1</color>
<color name="gph_search_bar_background_light">#ECECEC</color>
<color name="gph_search_bar_background_dark">#4E4E4E</color>
<color name="gph_blurred_search_bar_background_dark">#

[2020-11-09 22:27] ALexanderLonsky commented on #67
@BoumBam I am sorry for the late reply.

to customise the search bar colors:
[code]

The retry button uses
`style="@style/Widget.AppCompat.Button.Colored"`

so to customise it:
[code]

[2020-11-11 17:34] ALexanderLonsky commented on #96
@sathishmscict please try [v2.0.5](https://github.com/Giphy/giphy-android-sdk-ui-example/releases/tag/v2.0.5).

[2020-11-11 17:34] #42 closed

[2020-11-12 03:12] sathishmscict commented on #96
Thank you @ALexanderLonsky . Its working as expected.
![RemoveButton](https://user-images.githubusercontent.com/18158746/98890553-454f1c80-24c2-11eb-8a5d-48905254c985.JPG)

[2020-11-12 10:38] #67 closed

[2020-11-12 17:27] VittoriDavide opened #99 "Panning GPHMediaView"
Hello,

I have been using the library to implement an Activity where I can add gifs and drag them all over the screen.

The problem is that the GPHMediaView is not letting pass the touch event to the upper view making it impossible to handle the touch event with this component. Do you think there is any way to handle this error?

[2020-11-12 19:55] ALexanderLonsky commented on #99
@VittoriDavide it would be great to share your example.
I've just tried to drag `GPHMediaView` using:
[code]
and it works for me.

[2020-11-13 16:25] VittoriDavide commented on #99
Yes, is true.
 Adding the OnTouchListener to `GPHMediaView` , instead I was adding it to a `LinearLayout` that contained the `GPHMediaView`, but the touch event were blocked.

Thanks for your feedback

[2020-11-13 16:25] #99 closed

[2020-11-16 06:00] sathishmscict commented on #96
Hi @ALexanderLonsky ,after removing the all gif images is showing "Retry" button on center of the screen.

![image](https://user-images.githubusercontent.com/18158746/99217843-07723100-27ff-11eb-8d4d-6bf61d223e86.png)

[2020-11-16 18:03] ALexanderLonsky commented on #96
@sathishmscict hi, try please this version:
`com.giphy.sdk:ui:2.0.5-recents-fix`

[2020-11-17 04:28] sathishmscict commented on #96
Hi @ALexanderLonsky  , now its working fine. We are closed this issue. Thank you for quick response, appreciated.
![image](https://user-images.githubusercontent.com/18158746/99346747-64332180-28bb-11eb-96d6-e778c2311700.png)

[2020-11-17 04:28] #96 closed

[2020-11-19 14:28] #97 closed

[2020-11-19 22:18] cole-smith opened #100 ""Search Giphy" Text is Not Translated"
Giphy SDK version 2.0.5

Is there plans to add localized strings for text such as "Search Giphy"? Thanks!

[2020-11-22 10:14] ALexanderLonsky commented on #100
@cole-smith I'm not sure we have it on the roadmap. I'll discuss this with the team and let you know.

Here is a list of strings you can override:
[code]

[2020-11-26 14:07] qundrim opened #101 "Removing bottom tab when showing only gifs"
Im using the GiphyDialogFragment to show only gifs. Is there any way to remove the tab at the bottom when we decide to show only one type of mediaContent

[2020-11-26 16:20] ALexanderLonsky commented on #101
@qundrim we'll fix that in the next release. I'll let you know when it's done.

[2020-11-27 13:11] RomanMoran opened #102 "Could not Customise the GiphyDialogFragment"
Trying to do like mentioned in documentation.
https://github.com/Giphy/giphy-android-sdk-ui-example/blob/master/Docs.md#customise-the-giphydialogfragment
For example fill app values in black but no results.
Version that i used:
"com.giphy.sdk:ui:2.0.5"
How I initialize dialog:
![image](https://user-images.githubusercontent.com/25562234/100455645-1646c680-30d0-11eb-86ce-ec7101ecffe9.png)
Result:
![

[2020-11-27 13:42] ALexanderLonsky commented on #102
@RomanMoran I'll take a look and let you know.

For now I would blur your api key out on the first screenshot.

[2020-11-27 17:08] ALexanderLonsky commented on #102
@RomanMoran what particular result you would like to achieve?

try please these ones:
[code]

[2020-11-27 18:47] RomanMoran commented on #102
`<color name="gph_active_image_color_dark">#FF00FF99</color>`
this param I wanted to change, you should add it to documentation if somebody wants to change thease buttons color.
![image](https://user-images.githubusercontent.com/25562234/100477689-1f4c8d80-30fa-11eb-977f-7361d2bf2bd2.png)

[2020-11-27 18:47] RomanMoran commented on #102
`<color name="gph_active_image_color_dark">#FF00FF99</color>`
this param I wanted to change, you should add it to documentation if somebody wants to change thease buttons color.
![image](https://user-images.githubusercontent.com/25562234/100477689-1f4c8d80-30fa-11eb-977f-7361d2bf2bd2.png)

[2020-11-27 18:47] #102 closed

[2020-11-30 18:09] ALexanderLonsky commented on #100
@cole-smith unfortunately we can’t support this currently. I flagged this request to my team and we’ll follow up in 2021. In the meantime, you can override the specific strings using your own localization solution.

[2020-12-01 07:18] gildor opened #103 "Allow passing API key as fragment argument instead of using static config method"
Existing behavior:
To be able to open GiphyDialogFragment user of SDK must call `Giphy.configure` method with apiKey

But this approach has one big problem.
One may just want to call configure right before opening GiphyDialogFragment which looks a reasonable way: you don't want to init something that is never used, especially when you don't know what this configure is doing.
But fragment may be re

[2020-12-01 09:14] ALexanderLonsky commented on #103
Hey @gildor, thank you for flagging this issue, I'll let you know when it's done.

[2020-12-01 12:30] tejasbhatt17 opened #104 "How to share gif directly from grid view ?"
Hello,

I like to use this lib for my app, how can I get gif to send ?

[2020-12-01 15:06] ALexanderLonsky commented on #104
hello @tejasbhatt17,
please refer to [this](please refer to this documentation: ) section.

Also there is an example app.

[2020-12-02 04:10] tejasbhatt17 commented on #104
Hello @ALexanderLonsky
Thanks for reply, I have checked that example and callback, but I don't know how to get gif file from that callback.
Can you please post example code to get gif file so I can share it on any social media ?

[2020-12-02 13:36] ALexanderLonsky commented on #104
@tejasbhatt17 the SDK provides a gif url. You'll need to implement your own solution to fetch a file and use it for your needs.

[2020-12-02 13:45] tejasbhatt17 commented on #104
Thanks for reply

Yes, I get media object, but I am trying to get file from fresco cache, and for that I need to know which url getting cached.
So can you give me hint regarding this ?

[2020-12-02 17:24] ALexanderLonsky commented on #104
@tejasbhatt17 I wouldn't be based on that cache. You can fetch it like [this](https://github.com/facebook/fresco/issues/2229#issuecomment-434061873)

Anyway, the SDK generate URL based on media rendition type and format, so it may vary.
For example for `gifs` you can get a file from cache in this way:

[code]

**But I can't guarantee it won't change in the future, so please use your own solution t

[2020-12-03 05:43] tejasbhatt17 commented on #104
Thanks for reply

I have created my own logic to download and share

[2020-12-03 05:43] #104 closed

[2020-12-03 07:57] rushabh1191 opened #105 "Build Error : cannot generate view binders java.lang.IllegalArgumentException: Parameter specified as non-null is null: method android.databinding.tool.reflection.RecursiveResolutionStack.visit, parameter referenceObject"
After integrating Giphy SDK in my app, i'm getting following error & project is not building.

  	at android.databinding.tool.reflection.RecursiveResolutionStack.visit(RecursiveTraversal.kt)
  	at android.databinding.tool.reflection.annotation.AnnotationTypeUtil.toJava(AnnotationTypeUtil.java:128)
  	at android.databinding.tool.reflection.annotation.AnnotationClass.toDeclarationCode(AnnotationClas

[2020-12-03 09:31] ALexanderLonsky commented on #105
hey @rushabh1191 ,

I tried `gradle36test.zip` from the thread you have pointed to.
And I get that compilation error until `@NotNull ` is commented out:
[code]

Then I commented `@NotNull` out and added Giphy SDK dependency to that `gradle36test` and it compiles without any errors.
Moreover, Giphy SDK does not use `@NotNull` annotations.
So I assume the issue is not with the Giphy SDK.
Could you c

[2020-12-03 18:32] ALexanderLonsky commented on #101
@qundrim please try [this](https://github.com/Giphy/giphy-android-sdk-ui-example/releases/tag/v2.0.6) version.

[2020-12-03 18:34] ALexanderLonsky commented on #103
@gildor please try [v2.0.6](https://github.com/Giphy/giphy-android-sdk-ui-example/releases/tag/v2.0.6).
[here](https://github.com/Giphy/giphy-android-sdk-ui-example/blob/v2.0.6/Docs.md#basic-setup) is updated documentation.

[2020-12-09 09:50] KimDandan opened #107 "Is this a gphCellPadding bug?"
Hi,
I am using GiphyGridView.
I set gphSpanCount to 5 and gphCellPadding to 20dp.
The size(width) of the items in (1, 5) column and (2, 3, 4) column looks different.
Is this normal? Or is it a bug?
please answer about my question.

**GIPHY sdk version:** 2.0.6
**device:** Samsung Galaxy S8 (Android9), Samsung Galaxy S10 (Android10)

**xml code :**
[code]

**Screenshot before/after cellPadding sett

[2020-12-09 20:23] ALexanderLonsky commented on #107
@KimDandan hey, I'll look into this and let you know.

[2020-12-14 07:33] gildor commented on #103
@ALexanderLonsky Thanks for very fast fix! Updated the app with new API and it works properly, thanks!

[2020-12-14 07:33] #103 closed

[2020-12-14 13:48] #101 closed

[2020-12-14 20:45] matteinn commented on #31
Make sure to init the SDK before @iehsan77
`Giphy.configure(context, apiKey)`

[2020-12-15 17:01] ALexanderLonsky commented on #107
@KimDandan thanks for flagging this - i’ve been able to reproduce. i’ll include a fix in a future release.

[2020-12-16 02:26] KimDandan commented on #107
@ALexanderLonsky Thank you for confirming!

[2020-12-29 07:38] rushabh1191 commented on #105
Upgrading worked. Thanks.

[2020-12-29 07:39] rushabh1191 commented on #43
@powerworr where you able to round the corners? I also have similar requirement.

[2020-12-29 10:01] #105 closed

[2021-01-05 10:06] shubingo-android commented on #104
I attempt to get the gifs cache like this,but the cache is Suffix with .cnt .why?

[2021-01-05 20:23] ALexanderLonsky commented on #43
@rushabh1191 please try [v2.0.7](https://github.com/Giphy/giphy-android-sdk-ui-example/releases/tag/v2.0.7)
`GifView` has now `cornerRadius` property.

[2021-01-05 20:25] ALexanderLonsky commented on #107
@KimDandan please try [v2.0.7](https://github.com/Giphy/giphy-android-sdk-ui-example/releases/tag/v2.0.7)

[2021-01-06 05:31] KimDandan commented on #107
@ALexanderLonsky I checked. Thanks.

[2021-01-06 09:16] shubingo-android opened #109 "How to add a view to the cell of the gifGridView"
When user click the cell of the GifGridView,we will download the special gif we want so we want to add a progress bar to the cell when the user is waiting to download,but I can not find the method to add a view in the cell like the recycleView.

[2021-01-06 13:32] mihirmodiofficial opened #110 "I noticed that the gif is very laggy DialogFragment"
in some device the gif in dialogFragment is laggy

[2021-01-06 17:53] #107 closed

[2021-01-06 18:51] ALexanderLonsky commented on #110
@mihirmodiofficial could you please provide more details like what device and Android version is on it?

Also please refer to [GPHSettings](https://github.com/Giphy/giphy-android-sdk-ui-example/blob/master/Docs.md#gphsettings-properties)
There is `RenditionType` that you can try to play with, for example:
[code]

[2021-01-06 19:44] ALexanderLonsky commented on #109
@shubingo-android we have no plans to support this - i’ll pass on your request to my team.

[2021-01-07 00:20] florian-do opened #111 "Duplicate class kotlinx.android.parcel.*"
Hello,

I'm having trouble to implement the giphy sdk for android, back in the days I had no problem to implement it, but this time I have a duplicate class error when I'm trying to rebuild the app

[code]

I've tried to exclude the `jetified-kotlin-android-extensions-runtime` library from the implementation of giphy but I can't figure it out on how to solve the problem

I don't have the parcelize

[2021-01-07 02:16] shubingo-android commented on #109
@ALexanderLonsky  thanks for reply,Hope to add this feature, It will be more friendly and convenient to use

[2021-01-07 06:51] ALexanderLonsky commented on #111
Hello @florian-do, thank you for flagging this. I think it'll require a new release, I'll take a look. Will keep you informed.

[2021-01-07 09:18] ALexanderLonsky commented on #111
@florian-do
Moving out from `kotlin-android-extensions` will take time.

Do you happen to know what you might have changed that may lead to the issue now?
I've just tried Giphy Example app with this change:
[code]
And I don't have any issues. Could you please try it on your side?

[2021-01-07 19:54] florian-do commented on #111
Hello @ALexanderLonsky,

Firstly thank you for your answer !

After testing into a fresh project, I found out that the conflict was with the epoxy library from Airbnb so I added on both giphy and epoxy library the exclude

[code]

And it look like it's working, I didn’t test yet but at least it's compiling!

Thanks

[2021-01-07 19:59] ALexanderLonsky commented on #111
@florian-do thank you for the update!

[2021-01-13 01:58] shubingo-android opened #112 "The content of method 'searchQuery(key,mediaType,RatingType)' returns wrong"
GPHContent，What I pass is the query keyword of sticker, but sometimes it returns me the trending content of gif

[2021-01-13 01:59] #109 closed

[2021-01-13 14:43] ALexanderLonsky commented on #112
@shubingo-android could you please provide the particular request/response so I can look into it?

[2021-01-14 02:07] shubingo-android commented on #112
@ALexanderLonsky  I loaded it like this：
 private void loadGiphyContent() {
        try {
            if ("Trending".equals(mKey)) {
                mView.setGPHContent(TextUtils.equals(GIF_TYPE, mType)
                        ? GPHContent.Companion.getTrendingGifs() :
                        GPHContent.Companion.getTrendingStickers());
            } else {
                mView.setGPHContent(GPHC

[2021-01-14 18:17] #111 closed

[2021-01-14 22:42] ALexanderLonsky commented on #112
@shubingo-android yes, you are right. Please try this version: [2.0.8](https://github.com/Giphy/giphy-android-sdk-ui-example/releases/tag/v2.0.8)

[2021-01-15 02:17] shubingo-android commented on #112
@ALexanderLonsky got it,I have updated to version 2.0.8, It's correct. Thanks!

[2021-01-15 02:17] #112 closed

[2021-01-16 20:34] perracolabs opened #114 "search box and trending labels gets overlapped"
Affected versions: 2.0.7 & 2.0.8
No issues in 2.0.6 and below.

When pressing the search text box, the list expands and cuts the the top search area.
See attached video.

https://user-images.githubusercontent.com/7354233/104822414-848f4600-5842-11eb-997b-16ecc0d2ce7f.mp4

[2021-01-18 08:33] ALexanderLonsky commented on #114
@perracolabs are you able to reproduce this in the Giphy Example app? All versions work fine for me. Moreover, 2.0.7 as well as 2.0.8 do not have any changes that might be related to the issue.
I'll double check that.

[2021-01-18 08:48] perracolabs commented on #114
I will see if I can make a test project.
I have the feeling, just a guess, that maybe this could be cause if by any chance you use the display metrics to perform the computations to resolve the expand height of the list, in such case this would wrong as the display metrics can be different depending on if an activity or fragment is full screen or not, there is a notch, etc.
Although it can't be se

[2021-01-18 08:51] ALexanderLonsky commented on #114
@perracolabs thank you for your reply, I'll look into this.

_I will see if I can make a test project._
I would greatly appreciate it.

[2021-01-18 09:53] mihirmodiofficial opened #115 "Stickers (transparent background GIF) are not showing after updating sdk"
after updating to 'com.giphy.sdk:ui:2.0.7'
from older version 'com.giphy.sdk:ui:1.2.8'

its not showing sticker with transparent background

[2021-01-18 11:06] perracolabs commented on #114
I could make a test project to reproduce the issue, (see attachment bellow), yet it needs a set of specific steps to force it.

1) Open the project and **before** pressing the test button, first **rotate the device to landscape**.
2) Press the **test** button, and once Giphy appears, **tap on the search box so it gets expanded to full screen**.
3) With Giphy still opened and expanded to full scree

[2021-01-18 13:35] ALexanderLonsky commented on #114
@perracolabs thank you for the comprehensive reply, I'll take a look and get back to you.

[2021-01-18 19:59] ALexanderLonsky commented on #115
@mihirmodiofficial could you please give an example?

[2021-01-18 23:00] ALexanderLonsky commented on #114
@perracolabs it's weird, I was able to reproduce(using your test project) neither on a device nor in the simulator.
I tried many times and even installed Google keyboard just in case.
Also I added `android:configChanges="orientation|screenSize"` along with `onConfigurationChanged` into my test project and was playing with `GiphyDialogFragment` constraints trying to reproduce the issue but everythi

[2021-01-18 23:34] perracolabs commented on #114
When setting **setShowSuggestionsBar** to **false** the issue can't be reproduced, so working correctly.

Find attached a few Inspector Layout screenshots.
I have highlighted the search area elements, so you can check the attribute metrics on the right panel.

The test device is a Huawei P20 Lite, API  28.
Unfortunately I don't have access to other test devices at the present time.

[Screenshots.z

[2021-01-19 05:33] mihirmodiofficial commented on #115
val settings = GPHSettings(GridType.waterfall, GPHTheme.Light)
            val gifsDialog = GiphyDialogFragment.newInstance(settings)
            settings.mediaTypeConfig = arrayOf(GPHContentType.sticker)
            settings.renditionType = RenditionType.fixedWidth
            settings.confirmationRenditionType = RenditionType.fixedHeight
            settings.showCheckeredBackground = false

[2021-01-19 09:18] ALexanderLonsky commented on #115
@mihirmodiofficial I am sorry, I meant what particular stickers do not have transparent background? What search query do you use and what specific medias have issues?

[2021-01-19 10:32] mihirmodiofficial commented on #115
No i donot search anything but in older version just by opening Dialog Fragment with above code its show gif with transparent background but in updated version its not.

[2021-01-19 11:24] ALexanderLonsky commented on #115
Here are screenshots using v1.2.8:
<img width="715" alt="Screenshot 2021-01-19 at 13 16 28" src="https://user-images.githubusercontent.com/4112/105027832-e88b5780-5a58-11eb-838a-c389e2cc60f6.png">

And these are from v2.0.8:
<img width="724" alt="Screenshot 2021-01-19 at 13 18 48" src="https://user-images.githubusercontent.com/4112/105027897-fd67eb00-5a58-11eb-93e3-20411f726f31.png">

It seems all

[2021-01-19 11:29] ALexanderLonsky commented on #115
Ah, I got it. You mean that for `settings.mediaTypeConfig = arrayOf(GPHContentType.sticker)` it shows Gifs, not Stickers.
I'll look into it.

[2021-01-19 12:21] mihirmodiofficial commented on #110
its on Samsung Galaxy Note 10 its taking time to select Gif

[2021-01-19 19:39] ALexanderLonsky commented on #115
@mihirmodiofficial it is a bug, as a workaround you can add the following:
`settings.selectedContentType = GPHContentType.sticker`

[2021-01-19 19:52] ALexanderLonsky commented on #110
what `RenditionType` do you use?

[2021-01-20 09:01] mihirmodiofficial commented on #115
Thanks @ALexanderLonsky

[2021-01-20 09:03] mihirmodiofficial commented on #110
settings.renditionType = RenditionType.fixedWidth
            settings.confirmationRenditionType = RenditionType.fixedHeight

[2021-01-20 09:57] ALexanderLonsky commented on #110
hm, it's weird. I don't have this device but I've tried its emulator and it works as expected.
Could you please try to use one of these renditions:
[code]
and see if that has any effect.

[2021-01-20 19:28] perracolabs opened #116 "Feature request: Sticky Suggestions Bar"
Could you please add a configuration option to set the suggestions bar as sticky?
So, to be able to configure that the suggestions bar doesn't disappear when scrolling, and stays all the time visible under the search bar, regardless the scroll action.
The reason for this request is that after scrolling for a several seconds, it is required to scroll again all the way up to access it, which can tak

[2021-01-20 22:19] ALexanderLonsky commented on #114
@perracolabs hey, thank you for the update. Here is a new version: `com.giphy.sdk:ui:2.0.9-a.1`
Could you please check if the issue has gone for you?

[2021-01-20 22:20] ALexanderLonsky commented on #116
@perracolabs please try this version: `com.giphy.sdk:ui:2.0.9-a.1`
a new option called `suggestionsBarFixedPosition`

[2021-01-20 23:04] perracolabs commented on #114
Works correctly, with this new version can't reproduce the issue.

[2021-01-20 23:04] perracolabs commented on #116
Perfect

[2021-01-26 17:15] ALexanderLonsky commented on #116
added in [v2.0.9](https://github.com/Giphy/giphy-android-sdk-ui-example/releases/tag/v2.0.9)

[2021-01-26 17:15] #116 closed

[2021-01-26 17:16] ALexanderLonsky commented on #115
fixed in [v2.0.9](https://github.com/Giphy/giphy-android-sdk-ui-example/releases/tag/v2.0.9)

[2021-01-26 17:16] #115 closed

[2021-01-26 17:16] ALexanderLonsky commented on #114
fixed in [v2.0.9](https://github.com/Giphy/giphy-android-sdk-ui-example/releases/tag/v2.0.9)

[2021-01-26 17:16] #114 closed

[2021-02-11 00:07] jeremyrempel opened #118 "Migrate to maven central"
jcenter will be sunset on May 1, 2020 [announcement](https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/)

[2021-02-11 16:05] ALexanderLonsky commented on #118
hey @jeremyrempel, thank you for the update! We are working on this.

[2021-02-19 07:42] ALexanderLonsky commented on #118
@jeremyrempel we have migrated to [Maven Central](https://repo1.maven.org/maven2/com/giphy/sdk/ui/).

[2021-02-19 17:38] #43 closed

[2021-02-19 17:38] #118 closed

[2021-02-19 17:39] #58 closed

[2021-02-19 17:40] #56 closed

[2021-02-22 09:06] dinghaoz opened #121 "Crash in BlurLayout"
Brand: samsung
Model: Galaxy J6
Orientation: Portrait
RAM free: 239.84 MB
Disk free: 8.75 GB

Version: 9
Orientation: Portrait
Rooted: No

Fatal Exception: java.lang.IllegalArgumentException: height must be > 0
       at android.graphics.Bitmap.checkWidthHeight(Bitmap.java:447)
       at android.graphics.Bitmap.createBitmap(Bitmap.java:843)
       at android.graphics.Bitmap.createBitmap(Bitmap.jav

[2021-02-22 15:12] ALexanderLonsky commented on #121
Duplicate of #80

[2021-03-16 17:33] truthhonestmessaging opened #122 "How to check Giphy.recents is initialized?"
App is crashing if Giphy.recents is not initialized when I call Giphy.recents.clear()

I can't check it by doing standard way of Giphy::recents.isInitialized, because this throws error.

I just want to clear the Giphy cache when the user logs out of the app.

[2021-03-17 11:24] ALexanderLonsky commented on #122
hey @truthhonestmessaging,
yes, you are right. you can't access this property before either `Giphy.configure` or `GiphyDialogFragment.newInstance(settings, YOUR_ANDROID_SDK_KEY)` is called.

`Giphy::recents.isInitialized` won't work because of this:

And we don't provide now an option to check whether Giphy is initialized or not,  but you can do this on your own.

Also, as an option, you can inter

[2021-03-17 19:12] truthhonestmessaging commented on #122
Thank you, works perfectly. You can close this now!

[2021-03-17 19:59] #122 closed

[2021-03-19 04:51] shivchauhans opened #123 "How to fetch Gif Url from SDK"
All i am getting from media is:
Url: https://giphy.com/gifs/IntoAction-lanterns-stop-asian-hate-end-violence-against-asians-cNwLEqnkZ99oL4oBKa

bitlyUrl: https://gph.is/g/ZP87wml

bitlyGifUrl: https://gph.is/g/ZP87wml

embedUrl: https://giphy.com/embed/cNwLEqnkZ99oL4oBKa

These all are not .gif links which can be rendered in App.
How to get proper .gif link of selected GIF from DialogFragment, can

[2021-03-19 11:18] ALexanderLonsky commented on #123
hey @shivchauhans,
`Media` model has `images` collection that contains all images types(renditions). Each rendition represents `Image` where you can take either `gifUrl`  or `webPUrl`.

[2021-03-26 16:00] oussemaAr opened #124 "Error inflating class com.giphy.sdk.ui.views.GPHMediaView"
hello there, you must specify  that  ` Giphy.configure(this, YOUR_ANDROID_SDK_KEY)` should be inside the OnCreateView of fragment before the return statement, i passed two days trying  to know the issue and there's no explanation in the docs, please support more this SDK and update your doc statement. I solved it myself.

[2021-03-26 16:01] oussemaAr commented on #31
put the `Giphy.configure(this, YOUR_ANDROID_SDK_KEY)Giphy.configure(this, YOUR_ANDROID_SDK_KEY)` before inflating the layout inside the fragment

[2021-03-26 16:33] ALexanderLonsky commented on #124
hey @oussemaAr,
thanks for flagging this. Glad you figured things out. In the future feel free to open a question here and we'll do our best to help!

I guess your issue is related to [this one](https://github.com/Giphy/giphy-android-sdk/issues/103).

[2021-03-29 07:28] #123 closed

[2021-03-29 16:38] annaharri89 commented on #31
I am getting this same crash, but I'm already putting the configure call before I inflate the layout using com.giphy.sdk.ui.views.GPHMediaView

[2021-03-29 16:47] annaharri89 opened #125 "NullPointerException: SimpleDraweeView was not initialized! / Binary XML file line #31: Binary XML file line #31: Error inflating class com.giphy.sdk.ui.views.GPHMediaView"
I'm trying to update our giphy dependency to version 2.0.9, but the app crashes when it tries to inflate a com.giphy.sdk.ui.views.GPHMediaView. I'm doing the ` GiphyCore.configure` call before I inflate the activities layout in the onCreate

In sentry it says something about `NullPointerException: SimpleDraweeView was not initialized!`

[2021-03-31 13:56] ALexanderLonsky commented on #125
hey @annaharri89,
this is weird.
could you please try to configure the GIPHY SDK right before opening GiphyDialogFragment like:
`val dialog = GiphyDialogFragment.newInstance(settings.copy(selectedContentType = contentType), YOUR_ANDROID_SDK_KEY)`

What Giphy SDK version does work for you? We have changed nothing related to SDK configuration in v 2.0.9.

Does our example app work for you?

[2021-03-31 21:17] annaharri89 commented on #125
@ALexanderLonsky  I need to configure the giphy sdk before I show the giphy dialog fragment. The app is a chat app. And people can send the gifs to each other. We have incoming/outgoing message viewHolders that contain the GPHMediaView for the sent gifs. And so we have to configure in onCreate of the activity.

Right now 2.0.1 is working well for us

[2021-04-01 07:31] ALexanderLonsky commented on #125
@annaharri89 please, if possible, could you provide a sample app to reproduce the issue on my end?
Could you please check what exact version after `2.0.1` starts crashing for you so I can see what has been modified?

[2021-04-01 15:26] annaharri89 commented on #125
@ALexanderLonsky Yes I can do both of those things, but it might be a few days before I can get you what you asked for, heads up.

[2021-04-01 15:47] ALexanderLonsky commented on #125
@annaharri89 thank you so much!

[2021-04-05 17:36] annaharri89 commented on #125
@ALexanderLonsky I don't know what changed, but now version 2.0.9 isn't crashing our app anymore

[2021-04-05 17:47] ALexanderLonsky commented on #125
@annaharri89 thank you for the update, let's wait some time, and then you can close the issue if everything works as expected.

[2021-04-13 18:54] #125 closed

[2021-04-13 18:56] annaharri89 opened #126 "No static method getAdSession(Lcom/giphy/sdk/core/models/Media;)"
<img width="619" alt="image" src="https://user-images.githubusercontent.com/16767360/114637309-fedf3300-9c96-11eb-8e97-50bcacad5300.png">

I'm getting the above crash and don't understand what it means. Can anyone provide any insight into it?

[2021-04-13 19:28] ALexanderLonsky commented on #126
@annaharri89 what SDK version do you use, 2.0.9?
I see neither `getAdSession` nor `GPHAdSession` when searching our codebase.
Honestly, I don't understand it now too but will take a look.

Do you happen to have any example app to reproduce the crash?

[2021-04-14 00:26] annaharri89 commented on #126
this crash actually happened on version 1.0.0 of the giphy sdk. I'm working on a branch where I've updated to 2.0.9, but I haven't released that to the public yet. I haven't been able to reproduce the crash more than once, so I can't make you an example app.

[2021-04-14 07:52] ALexanderLonsky commented on #126
@annaharri89 it seems we used to have the ad tracking in that old version but don't have it anymore. I think an update to the latest one should resolve your issue.

[2021-04-14 16:36] annaharri89 commented on #126
kk, thanks!

[2021-04-14 16:36] #126 closed

[2021-04-27 03:04] faltutechy opened #128 "Few Crashes in Giphy SDK"
Hello Giphy Team
We have recntly integrated Giphy SDK in Our Project.
We are seeing 2,3 errors in our Firebase which are originating in Giphy SDK.
Attaching the errors with details here:
<img width="1129" alt="Screenshot 2021-04-27 at 11 01 36 AM" src="https://user-images.githubusercontent.com/69748785/116178516-48745700-a748-11eb-8478-1f59663f8d10.png">
<img width="1145" alt="Screenshot 2021-04-2

[2021-04-27 14:51] ALexanderLonsky commented on #128
hey @ChauhanRepo, thank you for flagging this.

How do you present `GiphyDialogFragment`?

[2021-05-02 09:56] hqinfosystem opened #129 "Network Error"
Hello GIPHY team,

I have integrated GIPHY SDK into my application and I'm checking from the last few days that GIPHY has some network error when I open it says "Oh No! Something Went Wrong." Retry

I have checked that my internet is working perfectly and all other application functionalities are working fine.
I have also a GIPHY production API key.

Thanks

[2021-05-03 14:57] ALexanderLonsky commented on #129
hey @hqinfosystem
Thank you for flagging this, our team will check that.
Are you still experiencing the issue or not?

[2021-05-04 06:05] hqinfosystem commented on #129
@ALexanderLonsky Thank you for your quick response I have sent an email. and yes I still experience the same issue.

[2021-05-04 17:09] ALexanderLonsky commented on #129
@hqinfosystem thank you!
In the meanwhile, could you please try out our [demo example](https://s3.amazonaws.com/sdk.mobile.giphy.com/android/giphy-ui-sdk-example.apk)?

Is the issue happening only on opening the dialog? Does the "Retry" button work?

[2021-05-06 10:36] shubingo-android opened #130 "“IndexOutOfBoundsException”,Why does this exception occur？"
Fatal Exception: java.lang.IndexOutOfBoundsException: Index: 34
       at java.util.Collections$EmptyList.get(Collections.java:4502)
       at androidx.recyclerview.widget.ListAdapter.getItem(ListAdapter.java:150)
       at com.giphy.sdk.ui.universallist.SmartGridAdapter.access$getItem(SmartGridAdapter.java:21)
       at com.giphy.sdk.ui.universallist.SmartGridAdapter$onBindViewHolder$1.onClick(Sm

[2021-05-06 20:17] ALexanderLonsky commented on #130
@shubingo-android could you please provide steps to reproduce?

[2021-05-07 01:49] shubingo-android commented on #130
this crash is from firebase，I don’t know the specific steps to reproduce，

[2021-05-11 01:18] Kiran-Rao opened #131 "Move dependencies to Maven"
Hello, Jcenter is shutting down soon. The following dependencies appear to be relying on jcenter:

[code]

[2021-05-11 01:31] Kiran-Rao commented on #131
Related: https://github.com/facebook/fresco/issues/2603

[2021-05-11 06:25] ALexanderLonsky commented on #131
hey @Kiran-Rao, thank you for flagging this.
We are aware of those dependencies and it is on our roadmap.
As you mentioned, the latest Fresco version is not on Maven yet.

[2021-05-11 07:18] yash292005 commented on #31
hii i'm getting error "android.view.InflateException: Binary XML file line #13: Error inflating class com.giphy.sdk.ui.views.GiphyGridView"
and also i'm using a fragment pls help

[2021-05-11 08:43] ALexanderLonsky commented on #31
@yash292005 we have the example app, it has `GridViewDemoActivity` and `DemoActivity` samples. Does it work for you?

Also, please refer [this](https://github.com/Giphy/giphy-android-sdk/blob/v2.0.6/Docs.md#basic-setup) documentation.

[2021-05-18 20:40] #129 closed

[2021-06-03 07:39] iamajijul opened #132 "Theme color not changing for Giphy dialog fragment"
I'm trying to change the theme color by mentioning the required parameter on color xml, but it's not getting effect on dialog fragment for giphy. I'm trying on git hub sample for giphy . I'm trying to change the selection icon tint color.

[2021-06-03 08:24] ALexanderLonsky commented on #132
@iamajijul you should override these two in values/colors.xml:
<color name="gph_active_image_color_light">#FF121212</color>
<color name="gph_active_image_color_dark">#FF00FF99</color>

[2021-06-06 05:24] yash292005 commented on #31
Hii ALexander your idea worked just fine. but i'm having another issue
regarding the giphy, the url "http://giphy.bintray.com/giphy-sdk" is
showing  error 403 forbidden and due to this m can't compile my app do you
have any suggestion
? on how to fix it please suggest. thanks for reading

On Tue, May 11, 2021 at 2:13 PM ALexanderLonsky ***@***.***>
wrote:

[2021-06-06 07:59] iamajijul opened #133 "Crash"
We are facing one crash when we are trying to select any GIF from giphy dialog. Below are the step to re produce :
1. Open giphy dialog
2. press the filter button(Below the giphy search bar) and quickly select any GIF.
<img width="544" alt="Screen Shot 2021-06-06 at 11 57 14 AM" src="https://user-images.githubusercontent.com/23631066/120917160-9f156f00-c6be-11eb-8820-a9267e62de4e.png">
3. Observe

[2021-06-06 16:53] ALexanderLonsky commented on #31
@yash292005 we have migrated from JCenter to MavenCentral:
https://search.maven.org/artifact/com.giphy.sdk/ui/2.1.0/aar

[2021-06-06 16:58] yash292005 commented on #31
Thanks, I will check it out.

On Sun, 6 Jun 2021 at 10:23 PM, ALexanderLonsky ***@***.***>
wrote:

[2021-06-07 08:47] yash292005 commented on #31
hii for some reason this is still not working this is my build.gradle(project level):
buildscript {
    ext.kotlin_version = "1.3.72"
    repositories {
        google()
        mavenCentral()
    }
    dependencies {
        classpath "com.android.tools.build:gradle:4.1.3"
        classpath "org.jetbrains.kotlin:kotlin-gradle-plugin:$kotlin_version"

        // NOTE: Do not place your application

[2021-06-07 16:04] ALexanderLonsky commented on #31
@yash292005 please keep JCenter for now, you should remove this:
[code]
and keep` JCenter + MavenCentral ` as here:
https://github.com/Giphy/giphy-android-sdk/blob/main/build.gradle.kts

Unfortunately, Blurkit and the latest Fresco version are not on Maven yet and it's required to keep JCenter for now

[2021-06-08 07:21] ALexanderLonsky commented on #133
@iamajijul thanks for flagging this and steps to reproduce.
Please try if this version works for you:
`implementation "com.giphy.sdk:ui:2.1.0-grid-crash-fixed"`

For that, you'll need to declare the Maven staging repository:
[code]

[2021-06-09 11:38] oprisnik commented on #131
Hey! We've released Fresco 2.5.0 tot Maven Central, so you should be able to upgrade now.

[2021-06-09 15:03] ALexanderLonsky commented on #131
@oprisnik thank you for the update, we'll do that soon.

[2021-06-10 07:33] gildor commented on #131
@ALexanderLonsky Is there any chance that something will be done also with blurkit? For now, Giphy is the only library which we use which depends on jcenter dependencies

[2021-06-10 11:57] #128 closed

[2021-06-10 11:58] ALexanderLonsky commented on #128
duplicated: #133

[2021-06-16 20:23] yash292005 commented on #31
hii i just wanted to know that can we share the gifs and other item the sdk has to offer over whatsapp or other social media using intent's start activity function?? ( IN THE GRID VIEW)

[2021-06-17 04:11] ALexanderLonsky commented on #31
hey @yash292005, please, start a new topic for a new issue in the future.
Giphy GridView does not provide a `Share` feature.
But you can use the SDK to retrieve the `GPHMedia` that can be shared using [the Android Sharesheet](https://developer.android.com/training/sharing/send#send-binary-content)

[2021-06-17 05:43] yash292005 opened #134 "How to share contents in the giphy grid view?"
In the SDK they use on gif selection listener but if i wan to share the gif out of the app or download it ; how to do that?

note: the way shown in the tutorial dosent work

this is my code:
package com.example.memeit

import android.app.Dialog
import android.content.Context
import android.content.Intent
import android.os.Bundle
import android.util.Log
import android.util.Log.d
import android.view

[2021-06-17 08:41] sinhasonu opened #135 "'No GIFs Found' text appears in Black color when user searches for GIFs in Dark theme."
While searching for GIFs in dark theme, "No GIFs Found" appear in black color, Can anyone please help me that, How can I #override the color of " No GIFs Found"
![InkedScreenshot_1623918807_LI](https://user-images.githubusercontent.com/32041390/122362575-dd8c1300-cf75-11eb-9491-564ce5b8dc2c.jpg)

[2021-06-17 10:31] ALexanderLonsky commented on #134
hey @yash292005,
please use our [GridView](https://github.com/Giphy/giphy-android-sdk/blob/main/app/src/main/java/com/giphy/sdk/uidemo/GridViewDemoActivity.kt) as a reference.
I just checked it works as expected:
<img width="392" alt="Screenshot 2021-06-17 at 13 30 20" src="https://user-images.githubusercontent.com/4112/122380103-32c52600-cf70-11eb-8286-f88a728d8282.png">

[2021-06-17 16:18] yash292005 commented on #134
please specify :
  val GridView = context?.let { GiphyGridView(it) }
        GridView?.callback = object : GPHGridCallback{
            override fun contentDidUpdate(resultCount: Int) {
                Timber.d("contentDidUpdate $resultCount")
            }

            override fun didSelectMedia(media: Media) {
                Toast.makeText(context, "your tapped $media.id", Toast.LENGTH_SHORT).

[2021-06-17 16:38] yash292005 commented on #134
i'm unable to access the call back feature in my grid view reference

[2021-06-17 19:42] ALexanderLonsky commented on #134
@yash292005 in your implementation you have 2 different instances of `GiphyGridView`.
The first one you create in `setTrendingQuery` by doing this: `context?.let { GiphyGridView(it) }`
And then, in `onViewCreated` you instantiate another one instead of using the previously created.

To fix the issue on your end, you'll need to do the following:

[code]

[code]

[2021-06-18 03:16] yash292005 commented on #134
Thanks, I'll check it out.

On Fri, Jun 18, 2021, 1:12 AM ALexanderLonsky ***@***.***>
wrote:

[2021-06-18 04:04] yash292005 commented on #134
Thanks brother once again you saved my code it works just fine

[2021-06-18 04:04] #134 closed

[2021-06-18 11:50] ALexanderLonsky commented on #135
@sinhasonu thank you for flagging this.
Please try this version: [2.1.1](https://github.com/Giphy/giphy-android-sdk/releases/tag/v2.1.1)

[2021-06-18 11:51] ALexanderLonsky commented on #133
Must be fixed in [v2.1.1](https://github.com/Giphy/giphy-android-sdk/releases/tag/v2.1.1)

[2021-06-18 11:52] #132 closed

[2021-06-18 11:56] ALexanderLonsky commented on #131
@Kiran-Rao, @gildor
The issue must be fixed in [v2.1.1](https://github.com/Giphy/giphy-android-sdk/releases/tag/v2.1.1)

[2021-06-20 12:13] ALexanderLonsky commented on #130
duplicated: #133

[2021-06-20 12:13] #130 closed

[2021-06-21 06:30] ALexanderLonsky commented on #80
BlurKit was removed from the SDK as of [v2.1.1](https://github.com/Giphy/giphy-android-sdk/releases/tag/v2.1.1)

[2021-06-21 06:30] #80 closed

[2021-06-21 06:31] ALexanderLonsky commented on #121
BlurKit was removed from the SDK as of [v2.1.1](https://github.com/Giphy/giphy-android-sdk/releases/tag/v2.1.1)

[2021-06-21 06:31] #121 closed

[2021-06-21 06:34] #73 closed

[2021-06-21 07:24] sinhasonu commented on #135
Thanks @ALexanderLonsky  it worked :)

[2021-06-21 07:24] #135 closed

[2021-06-21 21:35] Kiran-Rao commented on #131
Thanks @ALexanderLonsky, [v2.1.1](https://github.com/Giphy/giphy-android-sdk/releases/tag/v2.1.1) appears to have solved this.

[2021-06-21 22:42] #131 closed

[2021-06-23 08:49] #133 closed

[2021-06-28 12:11] yash292005 opened #137 "I Applied For a Production Sdk But It Got Rejected"
I'm Ready to upgrade my app for production, but the application got rejected. What Should i do now ?
Also How to give attribute of  powered by giphy logo on Your App, Any Specific Places(Splash screens, Main Activities etc.)

[2021-06-28 12:39] ALexanderLonsky commented on #137
hey @yash292005,
I'll check in regard to attribution. `GPHMediaView` has a branding logo.
As for the rejection, is it related to Giphy SDK? What rejection message did you get?

[2021-07-06 14:49] ALexanderLonsky commented on #45
horizontal carousel is deprecated

[2021-07-06 14:49] #45 closed

[2021-07-06 17:06] ALexanderLonsky commented on #50
There is no possibility to do that for `GiphyDialogFragment`
Only `GiphyGridView` has `fixedSizeCells` option: [link](https://github.com/Giphy/giphy-android-sdk/blob/main/Docs.md#grid-only-and-giphygridview)

[2021-07-06 17:06] #50 closed

[2021-07-06 17:13] ALexanderLonsky commented on #52
It's not crashing for me in the latest SDK [version](https://github.com/Giphy/giphy-android-sdk/releases/tag/v2.1.2).
The problem must have been related to [Fresco](https://github.com/facebook/fresco), which we have updated recently.

[2021-07-06 17:13] #52 closed

[2021-07-13 09:01] cuizhihao1994 opened #139 "Search under the Text category, the result contains the option of "More by...", long press will crash"
Search something under the Text tab, for example search “Alphabet”, the first search result will show "More by..."
This will appear every other paragraph in the search results. No response to click it, long press will crash.

![image](https://user-images.githubusercontent.com/30230096/125423585-bd7db63f-bd23-4895-b39d-249830c04753.png)

![image](https://user-images.githubusercontent.com/30230096/1

[2021-07-13 11:24] ALexanderLonsky commented on #139
@cuizhihao1994 hey, thank you for flagging this.

Please try this version: `implementation "com.giphy.sdk:ui:2.1.3-alpha"`

For that, add
`maven("https://oss.sonatype.org/content/repositories/staging")`
to
`repositories`

I've added a new property `enableDynamicText` to `GiphyGridView`, by default it's disabled.
That thing `More by` is called `GIPHY Animated Text Creation`, you can read more about

[2021-07-13 11:52] cuizhihao1994 commented on #139
@ALexanderLonsky Thanks for your guidance.

After we upgraded the version from 2.0.9 to 2.1.2, the above problem did not appear temporarily. However, ExoPlayer in version 2.1.2 will conflict with the old version of exoplayer in our program. What is the version of exoplayer in the latest SDK? We plan to update it.

[2021-07-13 12:02] ALexanderLonsky commented on #139
@cuizhihao1994 we've updated to [2.13.3](https://search.maven.org/artifact/com.amazon.android/exoplayer/2.13.3/aar) to totally get off of JCenter.

You can try to resolve conflicting dependencies using
`resolutionStrategy/force` to point to the proper dependency version

[2021-07-13 12:26] cuizhihao1994 commented on #139
@ALexanderLonsky Thanks for your patience, but we found that the above-mentioned problem also exists in the SDK 2.1.2 version. We tried to test with the 2.1.3-alpha version, but when entering the search interface, the 2.1.3 version would directly crash.

By the way, we tried a key from other developers, and the above problem did not occur. But our own key will have this problem. Excuse me, is ther

[2021-07-13 12:46] ALexanderLonsky commented on #139
@cuizhihao1994 this is weird.
Could you please drop here the crash log?

Also, our `Example` app provides `GiphyGridView` sample. There is a `grid` button to the left of the `settings` button. There you can launch `text` grid.
Does it crash for you?
I think a key shouldn't be a cause.

[2021-07-14 02:12] cuizhihao1994 commented on #139
@ALexanderLonsky The log for crash:

[log (2).txt](https://github.com/Giphy/giphy-android-sdk/files/6813039/log.2.txt)

[2021-07-14 06:30] ALexanderLonsky commented on #139
@cuizhihao1994
can you try please:
`File > Invalidate Cache & Restart`
![image](https://user-images.githubusercontent.com/4112/125574073-9535dd20-9efb-46f5-aafb-16f4df59b877.png)

[2021-07-14 09:23] cuizhihao1994 commented on #139
@ALexanderLonsky Thank you again for your patient answers. We tried the 2.1.3-alpha version of the SDK, and the above problem did not reappear. But we feel that this version is not very stable and often crashes during testing (I have attached a new log file below).

When will the official version of 2.1.3 be released? There are many users of our products, so we hope to adopt a more stable version.

[2021-07-14 09:59] ALexanderLonsky commented on #139
@cuizhihao1994 actually, this version differs from the stable one only in `Animated Text` feature for `GiphyGridView`.
I've fixed only that and `long-press`/`tap` gestures for the animated texts.

The new crash you have found is a different one. I can not reproduce it on my end but the crash log was helpful and I fixed that.
Here is a new version:
`implementation "com.giphy.sdk:ui:2.1.3-beta"`
It'

[2021-07-15 06:35] cuizhihao1994 commented on #139
@ALexanderLonsky Sorry to disturb you again, we can only access the 2.1.3-beta version in GIPHY's Demo. We cannot access this version in our program. The error message is as follows:

A problem occurred configuring root project

     Searched in the following locations:
       - https://repo.maven.apache.org/maven2/com/novoda/bintray-release/0.8.0/bintray-release-0.8.0.pom
       - https://dl.goog

[2021-07-15 07:16] ALexanderLonsky commented on #139
@cuizhihao1994
I don't think it's related to our SDK.
`implementation "com.giphy.sdk:ui:2.1.3-beta"` only requires to add

Groovy:
[code]
Kotlin:
[code]

`novoda` is a different thing, it seems they require to add this:
[code]
here it is: [novoda/bintray-release/0.8.0](https://mvnrepository.com/artifact/com.novoda/bintray-release/0.8.0)

`android:aabresguard` is not related to our SDK too:
[aabres

[2021-07-22 11:07] ALexanderLonsky commented on #139
stable version [2.1.3](https://github.com/Giphy/giphy-android-sdk/releases/tag/v2.1.3) released

[2021-07-26 09:28] vikripermana21 opened #141 "Cant find .updateContent while using GridView"
I cant find this .updateContent , i want to use giphy as GridView

![image](https://user-images.githubusercontent.com/68591896/126966668-194a6ca5-f2ff-4078-99a1-4290116e856d.png)

[2021-07-26 12:50] ALexanderLonsky commented on #141
hey @vikripermana21, thank you for flagging this, I'll update the documentation.
It must be `content` property:
`gifsGridView?.content = gifsContent`
[Here](https://github.com/Giphy/giphy-android-sdk/blob/main/app/src/main/java/com/giphy/sdk/uidemo/GridViewDemoActivity.kt) is an example.

[2021-07-26 16:31] #141 closed

[2021-08-16 22:18] tfrysinger opened #147 "Where do we find the full SDK documentation?"
This seems to be the for the Kotlin based app example only. Where does the documentation (Java/Kotlin) reside that details all the various classes in the SDK? How to use them, etc.?

[2021-08-17 06:49] ALexanderLonsky commented on #147
hey @tfrysinger,
we don't provide the full API reference document, but you can find all the needed information [here](https://github.com/Giphy/giphy-android-sdk/blob/main/Docs.md).

You can refer to [this](https://github.com/Giphy/giphy-android-sdk/issues/66#issuecomment-657659487) snippet to use the SDK in the java project.

[2021-08-17 12:41] tfrysinger commented on #147
Well, sorry but I've been through your giphy-android-sdk page many times
and while it is a nice start it certainly doesn't provide "all the needed
information". If I want to use GPHClient for example, how do I do so? If I
want to actually download a .gif (not just give it to GPHMediaView to show)
from within my Android app that the user has chosen through the fragment
dialog, how do I do that?

Th

[2021-08-17 14:05] ALexanderLonsky commented on #147
@tfrysinger

The SDK provides only two solutions for the user interface - pre-built templates which handle the entirety of the GIPHY experience, and a Grid-Only implementation that allows for customization.

Other than that, you can use `GPHCore` to find gifs by `id/ids` and create a `GPHMediaView` to display the media.

It's not supposed to use `GPHApiClient` directly.
The latest SDK versions are

[2021-08-17 18:19] tfrysinger commented on #147
Thanks for the info - some follow-up questions:

1. How would you recommend programmatically downloading a .gif using that
url - DownloadManager?

2. Where is GPHCore documented? I see one Kotlin snippet:

GPHCore.gifById(id) { result, e ->
    gifView.setMedia(result?.data, RenditionType.original)
    e?.let {
        //your code here
    }
}

I think all of us really need these classes documente

[2021-08-18 18:13] ALexanderLonsky commented on #147
hey @tfrysinger,

thank you for the comprehensive reply, I'll take a look and get back to you.

[2021-08-19 08:24] yravid opened #149 "Could not get resource (Forbidden)"
Hi,
Is there a problem with the https://giphy.bintray.com?
I am trying to build my application and getting multiple HTTP 403 Forbidden from those resources:
[code]
full error:
[code]

[2021-08-19 08:33] ALexanderLonsky commented on #149
hey @yravid,
Jcenter is shutting down soon, as of version [2.1.1](https://github.com/Giphy/giphy-android-sdk/releases/tag/v2.1.1), Giphy SDK has been fully migrated off of Jcenter by pointing the dependencies to [MavenCentral](https://search.maven.org/artifact/com.giphy.sdk/ui).
Please follow [the Installation](https://github.com/Giphy/giphy-android-sdk/blob/main/Docs.md#installation) guide.

[2021-08-19 09:04] yravid commented on #149
Thanks @ALexanderLonsky, removed bintray from the build script and all seem to work again.

[2021-08-19 09:04] #149 closed

[2021-08-19 09:15] ALexanderLonsky commented on #147
@tfrysinger,

I’ve passed the request for adding more official Java documentation and code samples on to my team and can share any updates here in the future.

For now, I’ve attached a sample Java project which demonstrates a simple GIPHY SDK integration (we plan to add it to this repo later on).

Please see the two methods:
`public GiphyDialogFragment show`
and
`public void onGifSelected`

to add

[2021-08-19 16:11] tfrysinger commented on #147
Thanks much, will review and reply!

On Thu, Aug 19, 2021 at 3:15 AM ALexanderLonsky ***@***.***>
wrote:

[2021-08-23 05:56] #137 closed

[2021-09-23 21:22] khchoudhary8 opened #155 "no content provider"
I am trying to upload the gif from giphy sdk to firebase but it seems that the content resolver is unable to get mime type from the Uri.parse(url of the gif); Hence i get an erroor of no content provider and app crashes. here is a snippet of my code. please help.

final GiphyDialogFragment dialog = GiphyDialogFragment.Companion.newInstance(settings);
                        dialog.setGifSelectionL

[2021-09-24 14:25] ALexanderLonsky commented on #155
@khchoudhary8
I think you need to download a gif and then use its local Uri.

[2021-09-24 15:51] khchoudhary8 commented on #155
@ALexanderLonsky  sir wont that cause delay and issues, like i am integrating this into a chatting app, it would have been better if the gif was not stored on the user's phone , would have directly sent to the other end user in the chat immediately through firebase.
Also then i need to think of an algo to save each gif with different name and then extract its uri ...Any workaround??
Btw thanks for

[2021-09-25 10:54] ALexanderLonsky commented on #155
@khchoudhary8
It looks like Firebase Storage SDK does not work with remote files:
https://firebase.google.com/docs/storage/android/upload-files

As a workaround, you can try to get a file from the Fresco cache:

[code]

This is uri of the cached file, I think `getExtensionFromMimeType` won't work, so you can provide it manually:
`+".gif"`

By default, `GiphyDialogFragment` uses `fixedWidth` rendit

[2021-09-27 19:12] khchoudhary8 commented on #155
THANKS i didnt use fresco , i did save the gif in one of the folders in internal storage and uploaded it to firebase. it worked fine till yesterday but since today i am getting this weirdd error(Opening a new case). please help me..

[2021-09-27 19:12] #155 closed

[2021-09-27 19:18] khchoudhary8 opened #156 "Failed to build unique file: /storage/emulated/0/Pictures Image image/gif"
I downloaded the gif to a folder and then uploaded it , fr past two days it worked fine but suddenly this error pops up and image isnt uploading. please help.   E/Error:: Failed to build unique file: /storage/emulated/0/Pictures Image image/gif

here are other debug along with it:
D/GIF: https://media1.giphy.com/media/3bnlchNmAsiS61KPW2/200w.gif?cid=b80d61ccodiz94ye063beraep7315glma39odr7dd5i44d8j

[2021-09-27 19:36] #156 closed

[2021-10-05 06:19] EzequielAdrianM opened #157 "Lightweight version?"
Any way to make this API more lightweight? Because once compiled, it adds about 5mb extra to the Android App Bundle package which (for my specific case) it is an increase of +72% in weight, very likely will lead to higher than usual uninstalls.

[2021-10-05 14:27] ALexanderLonsky commented on #157
hey @EzequielAdrianM,
5mb is about right for what we include: Fresco, Exoplayer + other dependencies and resources.

[2021-10-05 20:50] EzequielAdrianM commented on #157
Finally made a custom horizontal recyclerview for loading the trending/search GIFs into ImageView with the help of Glide, and a custom JsonRequest to the Tenor API. Unlike giphy, their api provides the .GIF direct URL without any wrapping webpage so Glide can download it directly. In just 300kb extra when compiling the App bundle. So far makes sense for my requirements. Peace out!

[2021-10-05 20:50] #157 closed

[2021-10-06 10:16] ALexanderLonsky commented on #157
@EzequielAdrianM thank you and sorry to hear about this.
Giphy SDK-UI brings the full GIPHY experience directly to your app.
If a custom solution works for you, you can also use [Giphy API](https://developers.giphy.com/docs/api#quick-start-guide).
Moreover, we still provide [SDK-Core](https://search.maven.org/artifact/com.giphy.sdk/core/3.1.6/aar) but do not support it anymore.
It'll also add 300k

[2021-10-13 17:26] khchoudhary8 opened #158 "How to make uploads faster."
I am using GIphy sdk in my chat application , I am using firebase as my server services. I could not directly upload the gif file to firebase storage. So i first save it to phone storage and then upload it and then inflate it in the respective chats. My issue is that each gif sent takes about 8-10 seconds which makes the app appear too sluggish. How can I make this process faster, Each gif consume

[2021-10-18 08:54] #158 closed, assigned to nobody

[2021-10-18 08:55] khchoudhary8 opened #159 "Any separate sticker sdk?"
I know that giphy also has stickers in its giphy integration but i want to know if u have a separate sticker sdk or feature which is not in gif format something like the app Whatsapp. ? @ALexanderLonsky Sir

[2021-10-18 09:16] ALexanderLonsky commented on #159
hey @khchoudhary8,
No, we don't.
A Giphy Sticker is an animated GIF with a transparent background.
You can choose a file type to use: GIF or WEBP.
Please read more about stickers [here](https://engineering.giphy.com/new-stickers-api-available/).

I think there are some 3rd party tools to convert GIF to other formats, but I did not use them.

[2021-10-19 17:50] qwaskhaled opened #161 "Could you use attr instead of color to customize the dialog?"
We have many themes in our applications and we can't change these colors based on the selected theme.

    <color name="gph_channel_color_light">#FF4E4E4E</color>
    <color name="gph_handle_bar_light">#ff888888</color>
    <color name="gph_background_light">#ffF1F1F1</color>
    <color name="gph_text_color_light">#ffA6A6A6</color>
    <color name="gph_active_text_color_light">#ff000000</color>

I

[2021-10-25 04:04] #161 closed, assigned to nobody

[2021-11-02 23:12] perracolabs opened #164 "GiphyDialogFragment's list not playing all frames delays"
Just by chance while testing different GIFs, I've found one which has all frames with a delay at 80ms, except for the last frame which is set to 480ms.
In Giphy's web site the GIF in question plays correctly including taking into account the last frame delay, yet in the GiphyDialogFragment's list seems the last frame delay is ignored giving the impression that it animates faster.

The actual GIF i

[2021-11-03 13:37] ALexanderLonsky commented on #164
hey @perracolabs, thanks for flagging this.
As you may already know, Giphy SDK uses Facebook Fresco under the hood. It must be an option to take into account the frames' delay.
I'll look into it.

[2021-11-05 14:37] perracolabs opened #166 "InvocationTargetException in version 2.1.9"
I had next exception with version 2.1.9, which I've been using just over a week now. Before it I was using 2.1.6 which showed no problems.

Unfortunately I haven't been able to reproduce it again. It happened all of the sudden when opening the Giphy's dialog.

The stack trace shows some problem with a coroutine. I cannot add more info other than this as I am not able to reproduce it:

[code]

**Up

[2021-11-08 17:13] ALexanderLonsky commented on #166
hey @perracolabs, thank you, I'll take a look.

[2021-11-08 20:49] ALexanderLonsky commented on #166
@perracolabs
From the trace, I guess you don't use `Giphy.configure` but `GiphyDialogFragment.newInstance(apiKey = YOUR_API_KEY)`

To my regret, I can't reproduce it on my end, I tried many cases.
The only main difference between 2.1.6 and 2.1.7 is that `@JvmOverloads` was added to support default parameter values in Java projects.

Could you please try this version(without `@JvmOverloads`):
`impl

[2021-11-08 21:00] perracolabs commented on #166
Unfortunately the crash happens randomly, but only when is the very first time the app process starts.
If its of any use, next is how I open Giphy. Sorry, still Java for this bit:

[code]

[2021-11-08 21:20] ALexanderLonsky commented on #166
I see, thanks, I'll try it out using the Java demo.
Could you please try the new staging version?

[2021-11-09 09:50] perracolabs commented on #166
That's odd but I can't seem to include the maven link, don't know if with Android Srctic Fox something changed, or I am missing something. I've included it as next:

[code]

[2021-11-09 09:55] ALexanderLonsky commented on #166
hey @perracolabs ,

Please ignore that staging version, I don't think the problem is in JvmOverloads.

I still can't reproduce the issue, tried many ways including async calls in a loop and etc.
Also tried many times:

Could you please check if the Giphy example app(`DemoActivity`/`DemoActivityJava`) crashes for you?

[2021-11-09 10:01] perracolabs commented on #166
OK, I'll try the demo, though is a bit tedious to test because it happens so randomly.
It can be hours working perfectly, and then suddenly crashes. So it may take a bit to give you a feedback.

The only hint I can't think of, is that the crash happens starting at version 2.1.7, therefore would be to check for code differences between versions 2.1.6 and 2.1.7.

[2021-11-09 10:22] ALexanderLonsky commented on #166
Thank you!

I did, there were only changes to the `VideoPlayer`/`GPHVideoPlayer` and accessibility improvements like

`gifView.contentDescription = "Media # ${adapterPosition + 1} of ${adapterHelper.itemCount} "`

Nothing other than that.

[2021-11-09 10:48] perracolabs commented on #166
An important bit I forgot to mention in the usage snipped I posted above.

The initial one-time Giphy's configuration is done  in a background thread.
To clarify, the next call is done in a background thread:

'''
Giphy.INSTANCE.configure(appContext,  Configurator.KEY_API, false);
'''

The initialization is synchronized, so only after configured completes Giphy's dialog code can be called, logical

[2021-11-09 11:30] ALexanderLonsky commented on #166
I see, yes, this might be the issue.
Actually, you don't need to call `Giphy.INSTANCE.configure` if you provide your API key to the dialog directly, because the dialog calls `Giphy.INSTANCE.configure` itself if an API key is populated.
Though, if you use `GPHMediaView` somewhere before the configuration call then Fresco won't be initialized and it might lead to a crash because `GPHMediaView` uses

[2021-11-09 11:50] perracolabs commented on #166
The reason to call **Giphy.INSTANCE.configure** in a separate thread is for the next use-case:

I noticed that there is a delay-lag on the first Giphy's instantiation time due to the instance configuration call.
This would depend on device specs, more noticeable with older devices.

Now, when opening one of the editors in the app, the user may or "may not" use Giphy's dialog.

So, in order to miti

[2021-11-09 13:00] ALexanderLonsky commented on #166
Got it.
I reproduced another crash when simultaneously calling
`Giphy.INSTANCE.configure` in a background thread and
`GiphyDialogFragment.Companion.newInstance` in the main thread:

**java.lang.IllegalStateException: Another SimpleCache instance uses the folder**

Fixed that by making `Giphy.INSTANCE.configure` synchronized.

I think this should fix your issue too.

Here is a staging version:

`im

[2021-11-09 14:14] perracolabs commented on #166
I can't get why Android Studio doesn't let me use this maven repository:

[code]

[2021-11-09 14:58] ALexanderLonsky commented on #166
do you use groovy? then it should be
[code]

[2021-11-09 15:33] perracolabs commented on #166
All good now, will test it for a few hours.

If you have synchronized **Giphy.INSTANCE.configure** then I think it would probably be solved.

[2021-11-11 16:13] perracolabs commented on #59
Regarding this issue, I've found that it was reported in the **okhttp** repository.

See issue : https://github.com/square/okhttp/issues/3537

[Someone](https://github.com/square/okhttp/issues/3537#issuecomment-745337859) in the thread suggested next as a solution:

https://stackoverflow.com/questions/47723973/strictmode-java-lang-throwable-untagged-socket-detected/57963770#57963770

[2021-11-11 16:32] ALexanderLonsky commented on #59
Thank you! I'll take a look

[2021-11-12 17:39] ALexanderLonsky commented on #166
this is fixed in [v2.1.11](https://github.com/Giphy/giphy-android-sdk/releases/tag/v2.1.11)

[2021-11-12 17:39] #166 closed

[2021-11-25 20:19] perracolabs commented on #166
Didn't have a problem at all since 2.1.11 was released, and head very heady testing since its released.
But, suddenly today I got this crash again, so it seams the issue still persists:

[code]

[2021-11-26 11:23] ALexanderLonsky commented on #166
hey @perracolabs,
I'm sorry to hear this.
It might be related to your delay-lag mitigation logic.
Anyway, it points to the **runBlocking** issue. Since **Giphy.INSTANCE.configure** is already synchronized as of 2.1.11, I decided to remove **runBlocking** from it, it must work as expected without it.

Please, try this version:
`implementation "com.giphy.sdk:ui:2.1.12-config-crash-hopeful-fix"`

It'

[2021-11-29 10:40] perracolabs commented on #166
I've been testing it since last Friday and no issues with the new fix version.

[2021-11-29 10:45] ALexanderLonsky commented on #166
thanks for the update!

[2021-11-30 09:47] perracolabs commented on #166
Hi. What is the timeline for this fix to get released?
Thanks

[2021-11-30 12:52] ALexanderLonsky commented on #166
Hi,
tomorrow.

[2021-12-01 11:16] ALexanderLonsky commented on #166
Hi @perracolabs,
[v2.1.12](https://github.com/Giphy/giphy-android-sdk/releases/tag/v2.1.12) released.

[2022-01-05 01:42] ow-ro opened #170 "Exoplayer version incompatibility causing crashes on clips"
We are using Exoplayer (v2.14.2) in our app and have recently started using the Giphy SDK (2.1.12), which uses Exoplayer 2.13.3.

Up until now we have only been using gifs and haven't had any issues. We want to start using clips as well, however tapping on any causes a crash (stack trace below), seemingly due to an Exoplayer version incompatibility, possibly due to [these](https://github.com/googl

[2022-01-06 11:57] ALexanderLonsky commented on #170
Hey @ow-ro, thanks for flagging this.
We are updating `Exoplayer` to `v2.16.0` as we already have [this request](https://github.com/Giphy/giphy-react-native-sdk/issues/48)
It'll be included in the next release.

You'll need to update it too because it has [breaking changes](https://github.com/google/ExoPlayer/blob/release-v2/RELEASENOTES.md#2160-2021-11-04)

[2022-01-07 13:27] ALexanderLonsky commented on #170
SDK [v2.1.13](https://github.com/Giphy/giphy-android-sdk/releases/tag/v2.1.13) released

[2022-01-12 10:26] SreehariRajeev opened #173 "https://giphy.bintray.com/giphy-sdk - Bad Gateway - 502"
The android SDK provided in your documentation (https://developers.giphy.com/docs/sdk#android) is down, bintray has been shutdown since May 2021, please provide a workaround for this issue.

[2022-01-12 10:50] ALexanderLonsky commented on #173
@SreehariRajeev thank you for flagging this, we will update that one.

Please refer to [this](https://github.com/Giphy/giphy-android-sdk/blob/main/Docs.md#installation) documentation.

[2022-01-20 14:57] #159 closed

[2022-01-28 11:33] serhohuk opened #176 "GiphyGridView onLongTap shows View on Giphy if showViewOnGiphy is disabled"
I initialize giphyGridView and set showViewOnGiphy to false, but its still shows action View on giphy

[2022-01-31 16:09] ALexanderLonsky commented on #176
@serhohuk hey,
please try [v2.1.16](https://github.com/Giphy/giphy-android-sdk/releases/tag/v2.1.16)

[2022-02-11 11:47] ffrenchm opened #178 "ExceptionInInitializerError when calling Giphy.configure"
## 🐛 Bug Report

When I call Giphy.configure, some of my users get a java.lang.ExceptionInInitializerError. However, I can't reproduce this on my device or my emulator.

Here is the code I'm using to initialise the Giphy SDK:

[code]

MainActivity is my first and only Activity since I'm using single activity architecture with fragments. So when users experience this crash, they can't open the app

[2022-02-11 12:04] ALexanderLonsky commented on #178
Hey @ffrenchm, thanks for flagging this.
It seems we need to update the `OkHttp` version:

[code]

I'll let you know when it's done.

[2022-02-13 06:10] sambhav2358 opened #179 "Giphy does not inflate my GiphyGridView in a fragment."
## Giphy does not inflate my GiphyGridView in a fragment.

I am making a chat app and I that I want to add custom giphy layout. So I used Giphy Grid View. But it is not inflating inside a fragment. I also saw [this](https://github.com/Giphy/giphy-android-sdk/issues/31) but it does not work. See the code below.

[code]

[code]

[code]
Please help me because Giphy documentation shows code only for `

[2022-02-13 10:10] #176 closed

[2022-02-13 12:00] ALexanderLonsky commented on #179
Hey @sambhav2358,
You should call
`Giphy.INSTANCE.configure(getContext(),"MY_VALID_API_KEY(IT IS VERIFIED)");`
right before
`b = FragmentPickGifBinding.inflate(getLayoutInflater());`

We do have [Java](https://github.com/Giphy/giphy-android-sdk/blob/main/Docs_Java.md) documentation.

And there are 2 options to integrate `GiphyGridView`, you can find it [here](https://github.com/Giphy/giphy-android

[2022-02-13 15:08] sambhav2358 commented on #179
Ok thanks. I will check it out. Actually I had searched a lot but could not find the java docs

[2022-02-13 16:43] sambhav2358 opened #180 "Why is my search functionality not working for `Emoji`"
## 🐛 Bug Report

# Why is my search functionality not working for `Emoji`

## Expected behavior

I expect it to search the emojis correctly but it does not work. You can see the code given below

[code]

[code]

### Error GIF is below

https://user-images.githubusercontent.com/97180951/153765797-7252d10e-6d37-4362-9e68-abe2f94abca1.mp4

It works fine if I click on Emoji button without a search que

[2022-02-13 18:56] ALexanderLonsky commented on #180
@sambhav2358
You can search only through `gifs`/`stickers`/`text`/`clips`.
`GiphyDialogFragment` hides emojis when it's the search mode.

[2022-02-14 02:40] sambhav2358 commented on #180
Ok thanks. Then why does It show he gifs?

[2022-02-14 04:15] sambhav2358 commented on #180
Thanks.

[2022-02-14 05:18] sambhav2358 commented on #180
Can you pleases your team to add feature for searching Emojis?

[2022-02-14 05:19] sambhav2358 opened #181 "How to add recents tab in giphy java?"
I wanted to know that how can I get the recent gifs in giphy grid view.I was able to do it in `GiphyDialogFragment`. But I am unable to do it in `GiphyGridView`. Please help me and please provide the code in java. Thanks.

[2022-02-14 06:58] sambhav2358 commented on #48
Change the orientation to `vertical`.

[2022-02-14 14:08] sambhav2358 commented on #178
You can use this instead 💯
[code]

[2022-02-14 19:14] ALexanderLonsky commented on #181
@sambhav2358
Please refer to [this](https://github.com/Giphy/giphy-android-sdk/blob/main/Docs_Java.md#recents) section.

Here is Java code to show Recents:
`binding.gifsGridView.setContent(GPHContent.Companion.getRecents());`

[2022-02-14 19:17] ALexanderLonsky commented on #180
Unfortunately, we don't have this on the roadmap.

[2022-02-15 02:23] sambhav2358 commented on #181
Yes. I got that before itself. The thing is that I want to get recent gifs with searching. Is that possible?

[2022-02-15 04:09] sambhav2358 commented on #180
Ok sure. Thanks. But please add it asap.

[2022-02-15 04:09] #180 closed

[2022-02-15 09:05] ALexanderLonsky commented on #181
The SDK does not provide this.
`Recently Picked` are stored locally and the only info they have is their IDs.

[2022-02-15 16:37] sambhav2358 commented on #181
Thanks. It would be great if you add it. That would be better for users. For example if the user uses hundreds of Gifs and wants search among the recent ones, it will not be possible. Also for users with slow network will be frustrated as the gif will take a long time to load. Hope you understand.

[2022-02-15 16:37] #181 closed

[2022-02-16 10:55] sambhav2358 opened #182 "Why am I unable to navigate from recents to gifs and gifs to recents in giphy grid view?"
## 🐛 Bug Report

Actually I am making an app to add gif support using the custom `GiphyGridView`. But I am facing one issue. I am unable to navigate from `GIFs` to `Recents` and from `Recents` to `GIFs`. I don't know why is it happening. Could you help me?

## To Reproduce

[code]

[code]
## Expected behavior

I want to change the gif content of click of every button.

## Actual Behavior

You can

[2022-02-16 16:11] sambhav2358 commented on #182
Ok. Let me have a try. And please try to resolve asap. It did not occur yesterday but something wrong today

[2022-02-16 16:13] sambhav2358 opened #183 "How can I get all the gifs in all the categories and show them in `GiphyGridView`"
I already know how to get the different types of gifs in different section. But what if I want all of them together without navigating ? Is it possible? Please provide the code in java if possible

[2022-02-16 16:16] sambhav2358 commented on #182
Thanks. It worked. You are best @ALexanderLonsky

[2022-02-16 16:16] #182 closed

[2022-02-17 09:15] ALexanderLonsky commented on #183
The SDK does not provide this, but you can use Giphy [APIs](https://developers.giphy.com/docs/api/endpoint#trending) and implement your own solution.

[2022-02-17 10:09] sambhav2358 commented on #183
So I can just pass the media in a list and then set it to recycler view right?

[2022-02-17 10:19] ALexanderLonsky commented on #183
yes, you can fetch medias using those endpoints, put them into a list and implement your own grid.

[2022-02-17 15:50] ALexanderLonsky commented on #178
@ffrenchm,
Please try [v2.1.17](https://github.com/Giphy/giphy-android-sdk/releases/tag/v2.1.17)
Giphy SDK does not use `okhttp`, this is the `Fresco` dependency, so the only thing I could do was to update `Fresco` to the latest version.

[2022-03-24 16:18] #178 closed

[2022-03-27 17:56] ALexanderLonsky commented on #59
Hey @perracolabs,
are you still facing this issue in the latest version?

[2022-03-27 18:13] perracolabs commented on #59
Yes still happens. I'm with version 2.1.17

To solve the issue the library in Giphy which uses **okhttp** (I assume is actually fresco), needs to set the threat stats tag, otherwise the problem will always exist.

See issue : https://github.com/square/okhttp/issues/3537

[2022-03-27 18:25] ALexanderLonsky commented on #59
Thank you for the quick reply!
Yes, this is `Fresco` that uses `okhttp`. I updated it in the latest release and was not able to reproduce the issue on my end, but now I see it did not help.

[2022-03-28 11:53] Musacca commented on #173
Any update related to this issue?

[2022-03-28 12:16] ALexanderLonsky commented on #173
@Musacca
Giphy SDK has been fully migrated off of Jcenter by pointing the dependencies to [MavenCentral](https://search.maven.org/artifact/com.giphy.sdk/ui).
Please follow [the Installation](https://github.com/Giphy/giphy-android-sdk/blob/main/Docs.md#installation) guide.

[2022-03-28 18:50] #173 closed

[2022-05-03 13:22] GauravP123 opened #185 "Giphy sdk compatibility with dexguard"
We are in the process of migrating our codebase to android 12.
We have upgraded giphy SDK to 2.1.17 as the older version is not compatible with android 12
When we run the application on debug mode it's working properly as expected. but when we create a release build with dexguard enable it's not loading any gif

[2022-05-03 14:20] ALexanderLonsky commented on #185
@GauravP123
I will try to reproduce it on my end.

Meanwhile, could you please attach a full log?

[2022-05-03 14:25] GauravP123 commented on #185
@ALexanderLonsky
We are not getting any errors as such.

[code]

But the same URL is working on debug build

[2022-05-03 14:31] ALexanderLonsky commented on #185
@GauravP123 I see.
Could you try to use `ImageFormat.GIF` instead of `WEBP`?
`gifsGridView.imageFormat = ImageFormat.GIF`

[2022-05-03 14:32] GauravP123 commented on #185
but same things is working debug build is this expected ?

[2022-05-03 14:33] GauravP123 commented on #185
<img width="342" alt="Screenshot 2022-05-03 at 8 02 43 PM" src="https://user-images.githubusercontent.com/16499701/166473739-d889d9c1-fa3d-4695-8103-ce3d1e52ebf2.png">

Release build

[2022-05-03 14:36] ALexanderLonsky commented on #185
It is weird.
I'll need to check a release build on my end.

[2022-05-03 14:53] ALexanderLonsky commented on #185
@GauravP123
The message is from Fresco:

[code]

It seems dexguard affects webp in some way.

Could you please try to use GIF image format instead of WEBP?

`gifsGridView.imageFormat = ImageFormat.GIF`

[2022-05-03 15:04] GauravP123 commented on #185
Any side effect of this?

[2022-05-03 15:18] ALexanderLonsky commented on #185
I am trying to understand if the issue is only with WEBP.

[2022-05-03 17:53] GauravP123 commented on #185
@ALexanderLonsky  with `gifsGridView.imageFormat = ImageFormat.GIF` its showing as a image its not animating

[2022-05-03 19:45] ALexanderLonsky commented on #185
Thanks for checking.
It's strange.
I made a release build with `Proguard` enabled from the sample app we provide.
The grid works just well on my physical device that is running Android 12.
I went through Fresco documentation, and the only thing I found is [this](https://frescolib.org/docs/shipping.html).

I can't check with dexguard.

I updated Fresco to the latest version in [v2.1.17](https://git

[2022-05-04 02:58] GauravP123 commented on #185
Getting same error
[code]

[2022-05-04 10:44] ALexanderLonsky commented on #185
I am sorry to hear that.
I can't reproduce the issue on my end, I even obfuscated the SDK using proguard, and tried obfuscated release builds on different devices running Android 12.

I found [this](https://github.com/facebook/fresco/issues/1177#issuecomment-221807002), but it should have been resolved in [this](https://github.com/facebook/fresco/commit/0d0c5757ff40eb9e9f23533c9798dcdde095ce86) co

[2022-05-05 08:19] GauravP123 commented on #185
@ALexanderLonsky
if we add` -keep class * { *; }` in our rules then its works as it does not obfuscate any classes. Can you double-check rules from SDK side or can you share rules so that we can manually add and check

[2022-05-05 09:17] ALexanderLonsky commented on #185
@GauravP123 I don't think it's the Giphy SDK issue.
As I said, proguard works for me, it must the issue specifically with dexguard.
`Animated WebP support not set up!` means that dexguard somehow breaks Fresco's image decoder.
In the SDK we only add rules for our classes like:
[code]

I would suggest excluding Fresco in your rules:
[code]

**or even better:**
`-keep class com.facebook.** { *; }`

[2022-05-05 11:00] GauravP123 commented on #185
with `-keep class com.facebook.** { *; }` it's working but I don't think it's a good idea to skip all facebook classes. Can you help with any particular classes that are required giphy

[2022-05-05 11:43] ALexanderLonsky commented on #185
we do these imports:
[code]

But we don't use `com.facebook.imagepipeline.decoder.ImageDecoder` directly, which seems to be the root cause of the issue.

[2022-06-24 07:57] daljeet1337 opened #187 "Ability to segregate the sdk into module specific dependencies on a per feature basis such as sticker,gif etc"
## Use case description
Since the size of the SDK is significant in comparison to modern day app bundle sizes, could we explore the possibility of segregating the SDK into smaller modules.

## Proposed solution
We could have gifs, stickers, clips etc as different modules so that if the use case of a user is to only use stickers and never use clips, they don't have to download the exoplayer depende

[2022-06-28 16:53] ALexanderLonsky commented on #187
Thanks for noting this issue - we agree we should enable developers to adopt the features of the SDK with minimal dependencies.
I'll pass this feedback onto my team & keep you in the loop.

[2022-08-01 13:58] perracolabs opened #188 "JNI Crash if project uses CMake version 3.22.1"
## 🐛 Bug Report
For projects with NDK code that use the latest CMake version **3.22.1**, Giphy's search dialog crashes after a couple of seconds once opened.
Giphy's dialog opens and shows empty-colored placeholders, but no actual media is displayed on them,  then crashes after a couple seconds.

The stacktrace (_see attachment_) seems to point to a JNI issue in fresco's library.

No issues with t

[2022-08-01 15:04] ALexanderLonsky commented on #188
Hey @perracolabs, thanks for reporting this and comprehensive description of the problem.
Though I don't know what I can do about it now; so, I'll keep it open until further notice.

P.S. I see that the latest CMake version is 3.23.3, is it possible to try that version?

[2022-08-01 15:15] perracolabs commented on #188
The newest CMake version that Android Studio gives me is **3.22.1**.
I update it via the **SDK Manager \  SDK tools** tab.
**3.23.3** doesn't appear in my list of supported versions.
I'm using Android Studio Chipmunk 2021.2.1 Patch 1.

Maybe the only solution is to make Facebook aware of the issue with Fresco. I assume Giphy already uses the latest Fresco version.

[2022-08-01 16:30] ALexanderLonsky commented on #188
I see. Yes, we are using the latest version: 2.6.0.

[2022-08-12 17:16] ow-ro commented on #170
Hi @ALexanderLonsky - after updating to the most recent ExoPlayer release (2.18.1), we are seeing a similar issue, again only affecting clips. Hoping Giphy's exoplayer dependency could be updated again?

Thanks

`2022-08-12 11:15:27.429 3511-3511/com.wemesh.android E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.wemesh.android, PID: 3511
    java.lang.NoSuchMethodError: No virtual method

[2022-08-12 17:25] ALexanderLonsky commented on #170
Hi @ow-ro,
We have many issues reported due to Exoplayer versioning conflicts.
That's why we decided to move the Exoplayer out of the SDK in the next release.
It'll be a breaking change, and I'll provide details on how to use the new solution.
I'll keep you in the loop.

[2022-08-16 13:04] ALexanderLonsky commented on #170
Hi @ow-ro,

I pushed a new version:

[code]

It's a staging version and requires to add:

[code]

To play clips, the SDK requires providing a `GPHAbstractVideoPlayer` implementation.
I prepared an implementation based on the `ExoPlayer` 2.18.1 version (find it attached):
 - `VideoPlayerExoPlayer2181Impl`

[code]

It's required to initialize the `VideoCache`(find it attached) too, you can do it rig

[2022-08-22 19:08] ALexanderLonsky commented on #187
@daljeet1337 We removed the ExoPlayer dependency as of version [2.2.0 ](https://github.com/Giphy/giphy-android-sdk/releases/tag/v2.2.0)

This is a breaking change, please follow the updated [clips documentation](https://github.com/Giphy/giphy-android-sdk/blob/main/clips.md#using-clips-in-sdk-v220-or-above).

[2022-08-22 19:09] ALexanderLonsky commented on #170
@ow-ro
We removed the ExoPlayer dependency as of version [2.2.0](https://github.com/Giphy/giphy-android-sdk/releases/tag/v2.2.0)

This is a breaking change, please follow the updated [clips documentation](https://github.com/Giphy/giphy-android-sdk/blob/main/clips.md#using-clips-in-sdk-v220-or-above).

[2022-09-12 11:57] #187 closed

[2022-09-12 11:57] #170 closed

[2022-10-12 18:11] Nico3652 opened #190 "[Question] Is there a way to customize retry button + localization message"
Hello,

Can't find a way to customize the Retry button on error and also the Localization for the string  :

<img width="368" alt="Capture d’écran 2022-10-12 à 20 10 47" src="https://user-images.githubusercontent.com/50270977/195417006-b03b9553-393d-4d2d-8c67-7c6d67aaf13e.png">

Thanks for any help

[2022-10-12 19:36] ALexanderLonsky commented on #190
hey @Nico3652 ,
Refer to this [issue](https://github.com/Giphy/giphy-android-sdk/issues/67).
Please let me know if that works for you.

[2022-10-13 11:38] Nico3652 commented on #190
Hi @ALexanderLonsky  and thank you for this, now it's ok for me

[2022-10-13 12:19] Nico3652 opened #191 "[Question] How to retrieve the right media url by id"
I've created a Flutter app so my widgets are rendered on the flutter side. So I have to retrieve the media url in order to display it inside my ```Image.network()```  widget.
The problem is not on the Flutter side.

This use case is in a messaging part in my app :
-> A user pick/tap a media in the android grid
-> then I'm saving in database the media ID retrieved
-> and then when the chat UI is lo

[2022-10-13 12:52] ALexanderLonsky commented on #191
Hi @Nico3652,
Usually, you access a needed rendition in this way:
`result?.data?.images.fixedWidth.gifUrl`

[Here](https://developers.giphy.com/docs/optional-settings/#rendition-guide) you can read more about the renditions.

In Android SDK we also have a convenience function to take a needed rendition:
`result?.data?.imageWithRenditionType(RenditionType.fixedWidth).gifUrl`

We use it internally,